src/flows/AccountCallV2-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignAsLender</name>
        <label>AssignAsLender</label>
        <locationX>19</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>UserType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lender</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_you_want_to_do_Lender_or_Borrower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Broker_DPA_Not_Required_set</name>
        <label>SetTaskObjectValues</label>
        <locationX>227</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Passed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Repayment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Direction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNewCaseVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>call_current_time</name>
        <label>call_current_time</label>
        <locationX>227</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>Current_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Account_by_Mobile_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CallEndTime</name>
        <label>CallEndTime</label>
        <locationX>1266</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallDirection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Direction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CallEndTime_0</name>
        <label>CallEndTime</label>
        <locationX>701</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Call_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Repayment_Details</name>
        <label>New Repayment Details</label>
        <locationX>557</locationX>
        <locationY>1915</locationY>
        <assignmentItems>
            <assignToReference>NewComment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetRepaymentVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Repayment_Script_Read__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Script_Read</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Customer_Confirmed_Day_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Agreed_to_change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Steps_for_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Repayment_read_set</name>
        <label>SetCaseValues</label>
        <locationX>557</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Call_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Reason_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actions_Taken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Reason_Radio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Steps_for_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Timer</name>
        <label>Reset Timer</label>
        <locationX>996</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Current_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Call_reason_Borrower</name>
        <label>Set_Call_reason_Borrower</label>
        <locationX>245</locationX>
        <locationY>1592</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_actions_taken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Call_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Borrower_Radio_Button</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Repayment_Day_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UW_Call_Back</name>
        <label>Set UW Call Back</label>
        <locationX>291</locationX>
        <locationY>1253</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Call_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UW call back</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UW call back</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UW call back</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCaseStatusClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAccountID</name>
        <label>SetAccountID</label>
        <locationX>70</locationX>
        <locationY>22</locationY>
        <assignmentItems>
            <assignToReference>varPassedAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0012000001IHZPa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>call_current_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseComplaint_0</name>
        <label>SetCaseComplaint</label>
        <locationX>734</locationX>
        <locationY>1204</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCaseStatusClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseStatusClosed</name>
        <label>SetCaseStatusClosed</label>
        <locationX>919</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creates_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommentCaseID</name>
        <label>SetCommentCaseID</label>
        <locationX>1426</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>NewComment.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRepaymentComment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewCaseVariables</name>
        <label>SetNewCaseVariables</label>
        <locationX>228</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Assign_to_Tech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Broker_DPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Cancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Compliance_Faillure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Customer_Confirmed_Day_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.First_Time_Fix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Positive_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Repayment_Script_Read__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01220000000R0du</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DPAChecked2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TechActionsSet</name>
        <label>TechActionsSet</label>
        <locationX>1243</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>With Tech</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creates_New_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access_to_Funds_Rapid_returns</name>
        <choiceText>Access to Funds/Rapid returns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to Funds/Rapid returns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies1</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request1</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Quick_Pay</name>
        <choiceText>Add Quick Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Quick Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annual_Statement_Request</name>
        <choiceText>Annual Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_by_Phone</name>
        <choiceText>Application by Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application by Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Post_Decision</name>
        <choiceText>Application Status (Post-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Post-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Pre_Decision</name>
        <choiceText>Application Status (Pre-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Pre-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR_Increase_Rate_Change</name>
        <choiceText>APR Increase/Rate Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR Increase/Rate Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_to_Complaints</name>
        <choiceText>Assign to Complaints</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign_to_Complaints</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_top_up</name>
        <choiceText>Auto-top up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-top up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrower</name>
        <choiceText>Borrower</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Borrowing_Criteria</name>
        <choiceText>Borrowing Criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrowing Criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Np</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Details</name>
        <choiceText>Change Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Direct_Debit</name>
        <choiceText>Change Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Personal_Details</name>
        <choiceText>Change Personal Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Personal Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Repayment_Date</name>
        <choiceText>Change Repayment Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Repayment Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collections_Call</name>
        <choiceText>Collections Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deceased_Customer</name>
        <choiceText>Deceased Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_Application</name>
        <choiceText>Declined Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Mail_Marketing</name>
        <choiceText>Direct Mail Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Mail Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalate_Tech</name>
        <choiceText>Escalate to Tech</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate_Tech</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fast_Track</name>
        <choiceText>Fast Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fraud</name>
        <choiceText>Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funds_sent_without_Z_Reference</name>
        <choiceText>Funds sent without Z Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funds sent without Z Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>IFAs</name>
        <choiceText>IFAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IFAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISAs</name>
        <choiceText>ISAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lender</name>
        <choiceText>Lender</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Lending_Fee</name>
        <choiceText>Lending Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_Sum_Payment</name>
        <choiceText>Lump Sum Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump Sum Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Borrower_Query</name>
        <choiceText>New Borrower Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Borrower Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Lender_Query</name>
        <choiceText>New Lender Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Lender Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Products</name>
        <choiceText>New Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>NoThankyou</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset1</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_off_loan_in_Full</name>
        <choiceText>Pay off loan in Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay off loan in Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_of_Return</name>
        <choiceText>Rate of Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate of Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Lending_Limit</name>
        <choiceText>Re-Lending Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Lending Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_and_open_Case</name>
        <choiceText>Record Call and Open Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_No_Further_Action_Required</name>
        <choiceText>Record Call (No Further Action Required)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refer_a_Friend</name>
        <choiceText>Refer a Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refer a Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repayments</name>
        <choiceText>Repayments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Settlement_Figure_Outstanding_Balance</name>
        <choiceText>Settlement Figure/Outstanding Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement Figure/Outstanding Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shorter_vs_Longer</name>
        <choiceText>Shorter vs Longer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shorter vs Longer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slow_lending_Query</name>
        <choiceText>Slow lending Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow lending Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third_Party_POA</name>
        <choiceText>Third Party / POA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Third Party / POA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Top_up_Repeat_Borrower</name>
        <choiceText>Top-up/Repeat Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Top-up/Repeat Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transferring_to_spouse_family_member</name>
        <choiceText>Transferring to spouse/family member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferring to spouse/family member</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_call_back</name>
        <choiceText>UW call back (Transfer and End Call)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UW call back</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UW_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UWYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YesPlease</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Reference_Funding_Query</name>
        <choiceText>Z Reference/Funding Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z Reference/Funding Query</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Campaign_Member_Exist</name>
        <label>Does Campaign Member Exist?</label>
        <locationX>608</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DPAChecked2_0</name>
        <label>DPAChecked</label>
        <locationX>110</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Set_Lender_Borrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsDPAChecked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPAPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoToDPA2_0</targetReference>
            </connector>
            <label>IsDPAChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>DPASuccess_0_0</name>
        <label>DPASuccess</label>
        <locationX>368</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>End_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Passed_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.DPA_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lender_Borrower</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tech_Call_0</name>
        <label>Is Tech Call?</label>
        <locationX>1169</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>CallEndTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Tech_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Tech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Tech_Team</targetReference>
            </connector>
            <label>Is Tech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Repayment_Day_Change</name>
        <label>Is This Repayment Day Change?</label>
        <locationX>234</locationX>
        <locationY>1729</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase.Call_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Repayment_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Repayment_Day_Values</targetReference>
            </connector>
            <label>Repayment Day Change</label>
        </rules>
        <rules>
            <name>No_Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSetCallReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Change_Repayment_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Steps_for_Call</targetReference>
            </connector>
            <label>No Repayment Day Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCampaign</name>
        <label>IsCampaign</label>
        <locationX>587</locationX>
        <locationY>873</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsCampaignTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_a_Campaign_Call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Campaign</targetReference>
            </connector>
            <label>IsCampaignTrue</label>
        </rules>
        <rules>
            <name>IsCampaignFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_a_Campaign_Call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Information_from_Customer</targetReference>
            </connector>
            <label>IsCampaignFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsComplaint</name>
        <label>IsComplaint</label>
        <locationX>1504</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Get_New_Case_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsAComplaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_to_Complaints</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartComplaint</targetReference>
            </connector>
            <label>IsAComplaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lender_Or_Borrower_0</name>
        <label>Lender Or Borrower</label>
        <locationX>19</locationX>
        <locationY>1027</locationY>
        <defaultConnector>
            <targetReference>LenderChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_A_Lender_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WrongFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LenderChoice</targetReference>
            </connector>
            <label>Is_A_Lender</label>
        </rules>
        <rules>
            <name>Is_A_Borrower_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WrongFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forward_to_UW</targetReference>
            </connector>
            <label>Is_A_Borrower</label>
        </rules>
        <rules>
            <name>Swap_to_Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WrongFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forward_to_UW</targetReference>
            </connector>
            <label>Swap to Borrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_For_Call</name>
        <label>Next_Step_For_Call</label>
        <locationX>892</locationX>
        <locationY>1627</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_a_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record_Call_and_open_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case</targetReference>
            </connector>
            <label>Create a New Case</label>
        </rules>
        <rules>
            <name>Raise_A_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_to_Complaints</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseComplaint_0</targetReference>
            </connector>
            <label>Raise A Complaint</label>
        </rules>
        <rules>
            <name>Log_as_a_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record_Call_No_Further_Action_Required</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseStatusClosed</targetReference>
            </connector>
            <label>Log as a call</label>
        </rules>
        <rules>
            <name>Escalate_to_Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalate_Tech</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TechActionsSet</targetReference>
            </connector>
            <label>Escalate_to_Tech Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>NextStepCampaign</name>
        <label>NextStepCampaign</label>
        <locationX>997</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>Finish_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AdditionalQuery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activate_the_Lender_Workflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Timer</targetReference>
            </connector>
            <label>AdditionalQuery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repayment_Day_ChangeMade</name>
        <label>Repayment Day Change</label>
        <locationX>1308</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>Is_Tech_Call_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Repayment_Day_Change_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase.Repayment_Script_Read__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommentCaseID</targetReference>
            </connector>
            <label>Repayment Day Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Lender_Borrower</name>
        <label>Set Lender Borrower</label>
        <locationX>163</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>AssignAsLender</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsBorrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Expected_Usage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_you_want_to_do_Lender_or_Borrower</targetReference>
            </connector>
            <label>IsBorrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>UW_Call</name>
        <label>UW Call</label>
        <locationX>20</locationX>
        <locationY>1275</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_UW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_UW_Callback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UW_Call_Back</targetReference>
            </connector>
            <label>Yes_UW</label>
        </rules>
        <rules>
            <name>No_UW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_UW_Callback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Information_from_Customer_Borrower</targetReference>
            </connector>
            <label>No_UW</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignMemStatus</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LookupCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Call_Reason</name>
        <dataType>String</dataType>
        <displayField>Call_Reason__c</displayField>
        <filters>
            <field>User_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Selected_Call_Reason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <valueField>Customer_Type__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Understands</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Understands_how_to_access_their_loans_2__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DurationinSeconds</name>
        <dataType>Number</dataType>
        <expression>({!EndTime}-{!Current_time})*100000</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>SetRepaymentVariable</name>
        <dataType>String</dataType>
        <expression>&quot;I confirm that you want to move your monthly repayment date from&quot; &amp; {!Old_Repayment_Day} &amp; &quot;  of each month to the &quot; &amp; {!New_Repayment_Day} &amp; &quot; of each month.&quot;
&amp;
 
&quot;Zopa will continue to use your existing Direct Debit instruction to honour your repayments.&quot;
&amp;
&quot;As a result, your next monthly repayment will be due on &quot; &amp; TEXT({!RepaymentDateNew}) &amp; &quot; for an amount of &quot; &amp; {!RepaymentAdjusted} &amp; &quot;, after which your regular repayment of &quot; &amp; {!Repayment_Amount_Regular} &amp; &quot; will be collected each month. The amount of your next repayment is slightly different from the regular amount to take account of the number of days between your current monthly repayment date and your new one. Your last repayment date will be &quot; &amp; TEXT({!Repayment_Last_Date}) &amp; &quot;, assuming you make all your repayments. In order for these changes to become effective immediately, could you please confirm whether you are happy to proceed with this change?&quot;</expression>
    </formulas>
    <interviewLabel>AccountCallV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountCallV2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddRepaymentComment</name>
        <label>AddRepaymentComment</label>
        <locationX>1401</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Is_Tech_Call_0</targetReference>
        </connector>
        <inputReference>NewComment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Call_Record</name>
        <label>Create Call Record</label>
        <locationX>831</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Anything_Further</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDisposition</field>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>DurationinSeconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <elementReference>Call_Direction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>NewTask.DPA_Passed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Campaign Call - {!CampaignName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_Safeguard_2__c</field>
            <value>
                <elementReference>Understand_that_Safeguard_is_not_a_guarantee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_how_to_access_their_loans_2__c</field>
            <value>
                <elementReference>Understand_how_to_access_their_loans_by_selling_to_others</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_lending_t_Individuals_2__c</field>
            <value>
                <elementReference>Understand_that_they_are_lending_to_individuals_for_personal_loans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_why_rate_might_differ2__c</field>
            <value>
                <elementReference>Understand_why_their_rate_might_differ_from_the_headline_rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>716</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Lookup_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>1266</locationX>
        <locationY>336</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>IsComplaint</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>DurationinSeconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <elementReference>NewTask.CallType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>NewTask.DPA_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Broker__c</field>
            <value>
                <elementReference>NewTask.DPA_Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>NewTask.DPA_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>NewTask.DPA_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>NewTask.DPA_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>NewTask.DPA_Passed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Repayment_Amount__c</field>
            <value>
                <elementReference>NewTask.DPA_Repayment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Current_time} Flow Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case</name>
        <label>Creates_New_Case</label>
        <locationX>1132</locationX>
        <locationY>911</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Repayment_Day_ChangeMade</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>NewCase.Call_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Confirmed_Day_Change__c</field>
            <value>
                <elementReference>NewCase.Customer_Confirmed_Day_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>NewCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>NewCase.Repayment_Script_Read__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewCase.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewCase.Call_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Already_a_Campaign_Member</name>
        <label>Check if Already a Campaign Member</label>
        <locationX>601</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Campaign_Member_Exist</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignID</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_ID</name>
        <label>Get New Case ID</label>
        <locationX>1262</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>New_Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_by_Mobile_Number</name>
        <label>Lookup Account by Mobile Number</label>
        <locationX>223</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AdminURLLink</assignToReference>
            <field>AdminURL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_DOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Expected_Usage</assignToReference>
            <field>Expected_Usage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_HouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Email</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MobilePhone</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Postcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Street1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Campaign</name>
        <label>Lookup Campaign</label>
        <locationX>559</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CallEndTime_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign Member</label>
        <locationX>455</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Lookup_Campaign</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <screens>
        <name>Anything_Further</name>
        <label>Anything Further</label>
        <locationX>998</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NextStepCampaign</targetReference>
        </connector>
        <fields>
            <name>details</name>
            <fieldText>Does the customer have anything that they wish to discuss about their account?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activate_the_Lender_Workflow</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Activate the Lender Workflow?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Call_Type</name>
        <label>Call_Type</label>
        <locationX>224</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Broker_DPA_Not_Required_set</targetReference>
        </connector>
        <fields>
            <name>Direction</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is this and Inbound or Outbound call?&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Direction</name>
            <choiceReferences>Inbound</choiceReferences>
            <choiceReferences>Outbound</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Passed_By_Broker</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click below to perform DPA on the next screen&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPAPerform</name>
            <choiceReferences>YesPlease</choiceReferences>
            <choiceReferences>NoThankyou</choiceReferences>
            <dataType>String</dataType>
            <fieldText>DPAPerform</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CampaignCallOutcome</name>
        <label>CampaignCallOutcome</label>
        <locationX>593</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Already_a_Campaign_Member</targetReference>
        </connector>
        <fields>
            <name>NoteIns</name>
            <fieldText>Please enter any notes relating to the call and then select the new member status for the campaign</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Campaign_Member_Status</name>
            <choiceReferences>CampaignMemStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign Member Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayMe</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;&lt;br/&gt;Does the Customer:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Understand_that_Safeguard_is_not_a_guarantee</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand that Safeguard is not a guarantee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Understand_how_to_access_their_loans_by_selling_to_others</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand how to access their loans by selling to others</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Understand_that_they_are_lending_to_individuals_for_personal_loans</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand that they are lending to individuals for personal loans</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Understand_why_their_rate_might_differ_from_the_headline_rate</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand why their rate might differ from the headline rate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Collection_Information_from_Customer</name>
        <label>Collection Information from Customer</label>
        <locationX>579</locationX>
        <locationY>1015</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Repayment_read_set</targetReference>
        </connector>
        <fields>
            <name>Call_Subject</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please insert a subject and description for the call&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;A HREF=&quot;{!AdminURLLink}&quot; TARGET=&quot;_blank&quot;&gt;{!AdminURLLink}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Actions_Taken</name>
            <fieldText>Actions Taken</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Reason_Radio</name>
            <choiceReferences>Access_to_Funds_Rapid_returns</choiceReferences>
            <choiceReferences>Account_Discrepencies1</choiceReferences>
            <choiceReferences>Ad_Hoc_Statement_Request1</choiceReferences>
            <choiceReferences>Annual_Statement_Request</choiceReferences>
            <choiceReferences>Auto_top_up</choiceReferences>
            <choiceReferences>Change_Account_Details</choiceReferences>
            <choiceReferences>Deceased_Customer</choiceReferences>
            <choiceReferences>Duplicate_Account</choiceReferences>
            <choiceReferences>Fraud</choiceReferences>
            <choiceReferences>Funds_sent_without_Z_Reference</choiceReferences>
            <choiceReferences>IFAs</choiceReferences>
            <choiceReferences>ISAs</choiceReferences>
            <choiceReferences>Lending_Fee</choiceReferences>
            <choiceReferences>New_Lender_Query</choiceReferences>
            <choiceReferences>New_Products</choiceReferences>
            <choiceReferences>Password_Reset</choiceReferences>
            <choiceReferences>Rate_of_Return</choiceReferences>
            <choiceReferences>Refer_a_Friend</choiceReferences>
            <choiceReferences>Re_Lending_Limit</choiceReferences>
            <choiceReferences>Repayments</choiceReferences>
            <choiceReferences>Shorter_vs_Longer</choiceReferences>
            <choiceReferences>Slow_lending_Query</choiceReferences>
            <choiceReferences>Third_Party_POA</choiceReferences>
            <choiceReferences>Transferring_to_spouse_family_member</choiceReferences>
            <choiceReferences>Z_Reference_Funding_Query</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankSpace</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;&lt;br/&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Collection_Information_from_Customer_Borrower</name>
        <label>Collection Information from Customer</label>
        <locationX>20</locationX>
        <locationY>1392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Call_reason_Borrower</targetReference>
        </connector>
        <fields>
            <name>Call_Subject_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please insert a subject and description for the call&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;A HREF=&quot;{!AdminURLLink}&quot; TARGET=&quot;_blank&quot;&gt;{!AdminURLLink}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_actions_taken</name>
            <fieldText>Actions Taken</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Borrower_Radio_Button</name>
            <choiceReferences>Add_Quick_Pay</choiceReferences>
            <choiceReferences>Application_by_Phone</choiceReferences>
            <choiceReferences>Application_Status_Post_Decision</choiceReferences>
            <choiceReferences>Application_Status_Pre_Decision</choiceReferences>
            <choiceReferences>APR_Increase_Rate_Change</choiceReferences>
            <choiceReferences>Borrowing_Criteria</choiceReferences>
            <choiceReferences>Cancellation</choiceReferences>
            <choiceReferences>Change_Direct_Debit</choiceReferences>
            <choiceReferences>Change_Personal_Details</choiceReferences>
            <choiceReferences>Change_Repayment_Date</choiceReferences>
            <choiceReferences>Collections_Call</choiceReferences>
            <choiceReferences>Declined_Application</choiceReferences>
            <choiceReferences>Direct_Mail_Marketing</choiceReferences>
            <choiceReferences>Documents</choiceReferences>
            <choiceReferences>Duplicate_Account</choiceReferences>
            <choiceReferences>Fast_Track</choiceReferences>
            <choiceReferences>Fees</choiceReferences>
            <choiceReferences>Fraud</choiceReferences>
            <choiceReferences>Lump_Sum_Payment</choiceReferences>
            <choiceReferences>New_Borrower_Query</choiceReferences>
            <choiceReferences>Password_Reset</choiceReferences>
            <choiceReferences>Pay_off_loan_in_Full</choiceReferences>
            <choiceReferences>Settlement_Figure_Outstanding_Balance</choiceReferences>
            <choiceReferences>Third_Party_POA</choiceReferences>
            <choiceReferences>Top_up_Repeat_Borrower</choiceReferences>
            <choiceReferences>UW_call_back</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blankspace2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;&lt;br/&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Do_you_want_to_do_Lender_or_Borrower</name>
        <label>Do you want to do Lender or Borrower?</label>
        <locationX>37</locationX>
        <locationY>881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lender_Or_Borrower_0</targetReference>
        </connector>
        <fields>
            <name>Instr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Caller has been identified as a &lt;B&gt;{!UserType}&lt;/B&gt;.  &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If this is correct click next.  If not, then check the box below to swap to the other flow&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WrongFlow</name>
            <dataType>Boolean</dataType>
            <fieldText>WrongFlow</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>End_Call</name>
        <label>End Call</label>
        <locationX>437</locationX>
        <locationY>1012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nofurtheraction</name>
            <fieldText>Failed DPA has been recorded.  No further action is required, please close the workflow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1267</locationX>
        <locationY>31</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Completed</name>
            <fieldText>You have finished the workflow, you may close this window.  

If you need to send an email please go back to the case screen and use the &apos;send an email functionality&apos; from there

A new case/campaign note has been created with Reference: {!New_Case_Number}{!CampaignName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Forward_to_UW</name>
        <label>Forward to UW</label>
        <locationX>19</locationX>
        <locationY>1164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UW_Call</targetReference>
        </connector>
        <fields>
            <name>Is_this_an_UW_Callback</name>
            <choiceReferences>UW_Yes</choiceReferences>
            <choiceReferences>UW_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is this an UW Callback</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>LenderChoice</name>
        <label>LenderChoice</label>
        <locationX>295</locationX>
        <locationY>883</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsCampaign</targetReference>
        </connector>
        <fields>
            <name>Is_this_a_Campaign_Call</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is this a Campaign Call?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>New_Repayment_Day_Values</name>
        <label>New Repayment Day Values</label>
        <locationX>226</locationX>
        <locationY>1916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Present_Repayment_Script</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Once you have completed the changes in admin please enter the new details here to be recorded&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Admin URL: &lt;A HREF=&quot;http://{!AdminURLLink}&quot; TARGET=&quot;_blank&quot;&gt;{!AdminURLLink}&lt;/A&gt;&lt;FONT STYLE=&quot;font-size:14px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Old_Repayment_Day</name>
            <dataType>String</dataType>
            <fieldText>Old Repayment Day of Month (eg 1st, 2nd, 3rd, 4th)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Repayment_Day</name>
            <dataType>String</dataType>
            <fieldText>New Repayment Day of Month (eg 1st, 2nd, 3rd, 4th)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepaymentDateNew</name>
            <dataType>Date</dataType>
            <fieldText>Next Repayment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepaymentAdjusted</name>
            <dataType>String</dataType>
            <fieldText>Adjusted Next Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Repayment_Amount_Regular</name>
            <dataType>String</dataType>
            <fieldText>Regular Repayment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Repayment_Last_Date</name>
            <dataType>Date</dataType>
            <fieldText>New Last Repayment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Next_Steps_for_Call</name>
        <label>Next Steps for Call</label>
        <locationX>552</locationX>
        <locationY>1717</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step_For_Call</targetReference>
        </connector>
        <fields>
            <name>AdminURL</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;A HREF=&quot;{!AdminURLLink}&quot; TARGET=&quot;_blank&quot;&gt;{!AdminURLLink}&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NS_Text</name>
            <fieldText>Please select one of the following options:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <choiceReferences>Record_Call_No_Further_Action_Required</choiceReferences>
            <choiceReferences>Record_Call_and_open_Case</choiceReferences>
            <choiceReferences>Escalate_Tech</choiceReferences>
            <choiceReferences>Assign_to_Complaints</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Present_Repayment_Script</name>
        <label>Present_Repayment_Script</label>
        <locationX>370</locationX>
        <locationY>1917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Repayment_Details</targetReference>
        </connector>
        <fields>
            <name>Repayment_Change_Script</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change repayment day script&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This  &lt;/B&gt;&lt;B&gt;&lt;U&gt;must&lt;/U&gt;&lt;/B&gt;&lt;B&gt; be read to the customer over the telephone before you change a repayment date:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;quot;I confirm that you want to move your monthly repayment date from &lt;FONT KERNING=&quot;1&quot;&gt;{!Old_Repayment_Day}&lt;/FONT&gt; of each month to the &lt;FONT KERNING=&quot;1&quot;&gt;{!New_Repayment_Day}&lt;/FONT&gt; of each month.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Zopa will continue to use your existing Direct Debit instruction to honour your repayments.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;As a result, your next monthly repayment will be due on &lt;FONT KERNING=&quot;1&quot;&gt;{!RepaymentDateNew}&lt;/FONT&gt; for an amount of &lt;FONT KERNING=&quot;1&quot;&gt;{!RepaymentAdjusted}&lt;/FONT&gt;, after which your regular repayment of &lt;FONT KERNING=&quot;1&quot;&gt;{!Repayment_Amount_Regular}&lt;/FONT&gt; will be collected each month.  The amount of your next repayment is slightly different from the regular amount to take account of the number of days between your current monthly repayment date and your new one. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your last repayment date will be &lt;FONT KERNING=&quot;1&quot;&gt;{!Repayment_Last_Date}&lt;/FONT&gt;, assuming you make all your repayments.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In order for these changes to become effective immediately, could you please confirm whether you are happy to proceed with this change?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Script_Read</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Please confirm that you have read the script</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Agreed_to_change</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Agreed to change</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Campaign</name>
        <label>Select Campaign</label>
        <locationX>591</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CampaignCallOutcome</targetReference>
        </connector>
        <fields>
            <name>Select_the_Campaign</name>
            <choiceReferences>LookupCampaigns</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>SetAccountID</startElementReference>
    <subflows>
        <name>Add_Tech_Team</name>
        <label>Add Tech Team</label>
        <locationX>1083</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>CallEndTime</targetReference>
        </connector>
        <flowName>Add_Tech_Team</flowName>
        <inputAssignments>
            <name>passed_case_id</name>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GoToDPA2_0</name>
        <label>GoToDPA2</label>
        <locationX>359</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>DPASuccess_0_0</targetReference>
        </connector>
        <flowName>DPA_Flow</flowName>
        <inputAssignments>
            <name>varPassedAccountID</name>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DPATask</name>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartTime</name>
            <value>
                <elementReference>Current_time</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewTask</assignToReference>
            <name>DPATask</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>StartComplaint</name>
        <label>StartComplaint</label>
        <locationX>1499</locationX>
        <locationY>103</locationY>
        <flowName>Complaint</flowName>
        <inputAssignments>
            <name>VarPassedCaseId</name>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActionsTaken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdminURLLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Broker_DPA_Not_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallDirection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CNC_New_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>CustomerConfirmation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DPAPoint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>NC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Call_Task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Created_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>NewRepaymentDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRepaymentDetails2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Passed_Mobile_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Script_Repayment_Read</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>UserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DPA_Check_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_DPA_Check_Date_of_Birth</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_DPA_Check_Full_Name</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DPA_Email_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DPA_Passed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DPA_Repayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Street1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetCallReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
