src/flows/Account_v3-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignAsLender_0</name>
        <label>AssignAsLender</label>
        <locationX>66</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>UserType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lender</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Broker_DPA_Not_Required_set</name>
        <label>SetTaskObjectValues</label>
        <locationX>262</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Passed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.DPA_Repayment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Direction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120O000000VEyA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNewCaseVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>call_current_time</name>
        <label>call_current_time</label>
        <locationX>323</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Current_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CallEndTime</name>
        <label>CallEndTime</label>
        <locationX>846</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallDirection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Direction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UW_Call_Back</name>
        <label>Set UW Call Back</label>
        <locationX>715</locationX>
        <locationY>1197</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UW call back</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallEndTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UW_Call_Back_0</name>
        <label>Set Call Subject</label>
        <locationX>682</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CallEndTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UW_Call_Back_0_0</name>
        <label>Set Call Subject Wrong</label>
        <locationX>681</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!UserType} Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallEndTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAccountID</name>
        <label>SetAccountID</label>
        <locationX>54</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>varPassedAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0012000001IHZPa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCurrentUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewCaseVariables</name>
        <label>SetNewCaseVariables</label>
        <locationX>63</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Assign_to_Tech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Broker_DPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Cancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Compliance_Faillure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Customer_Confirmed_Day_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.First_Time_Fix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Positive_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Repayment_Script_Read__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01220000000R0du</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DPAChecked2_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access_to_Funds_Rapid_returns</name>
        <choiceText>Access to Funds/Rapid returns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to Funds/Rapid returns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Closure</name>
        <choiceText>Account Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies1</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Quick_Pay</name>
        <choiceText>Add Quick Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Quick Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annual_Statement_Request</name>
        <choiceText>Annual Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_by_Phone</name>
        <choiceText>Application by Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application by Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Post_Decision</name>
        <choiceText>Application Status (Post-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Post-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Pre_Decision</name>
        <choiceText>Application Status (Pre-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Pre-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR_Increase_Rate_Change</name>
        <choiceText>APR Increase/Rate Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR Increase/Rate Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_to_Complaints</name>
        <choiceText>Assign to Complaints</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign_to_Complaints</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auth_Third_Party_POA</name>
        <choiceText>Authorisations / Third Party / POA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorisations / Third Party / POA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_top_up</name>
        <choiceText>Auto-top up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-top up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_Debt</name>
        <choiceText>Bad Debt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Debt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrower</name>
        <choiceText>Borrower</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Borrower_Call</name>
        <choiceText>Borrower Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrowing_Criteria</name>
        <choiceText>Borrowing Criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrowing Criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Np</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Campaign_Call</name>
        <choiceText>Campaign Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Prep</name>
        <choiceText>Case Prep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Prep</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Prep_Call</name>
        <choiceText>Case Prep Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Prep</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Details</name>
        <choiceText>Change Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Direct_Debit</name>
        <choiceText>Change Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Personal_Details</name>
        <choiceText>Change Personal Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Personal Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Repayment_Date</name>
        <choiceText>Change Repayment Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Repayment Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Dev_Response</name>
        <choiceText>Client Dev Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Dev Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collections_Call</name>
        <choiceText>Collections Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Continue_Lender_Flow</name>
        <choiceText>Continue with Lender Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContinueFlow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Continue_with_Borrower_Flow</name>
        <choiceText>Continue with Borrower Flow</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Deceased_Customer</name>
        <choiceText>Deceased Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_Application</name>
        <choiceText>Declined Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Mail_Marketing</name>
        <choiceText>Direct Mail Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Mail Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Email_Case</name>
        <choiceText>Duplicate Email/Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Email/Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalate_Tech</name>
        <choiceText>Escalate to Tech</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate_Tech</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exposure_Limit</name>
        <choiceText>Exposure Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exposure Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fast_Track</name>
        <choiceText>Fast Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fraud</name>
        <choiceText>Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funds_sent_without_Z_Reference</name>
        <choiceText>Funds sent without Z Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funds sent without Z Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Discussion_P2P_Discussion</name>
        <choiceText>General Discussion/P2P Discussion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Discussion/P2P Discussion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Historical_performance_information</name>
        <choiceText>Historical performance information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Historical performance information</stringValue>
        </value>
    </choices>
    <choices>
        <name>IFAs</name>
        <choiceText>IFAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IFAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>IntTransferring_to_spouse_family_member</name>
        <choiceText>Internal Transfer to spouse/family member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Transfer to spouse/family member</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISAs</name>
        <choiceText>ISAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lender</name>
        <choiceText>Lender</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Lender_Call</name>
        <choiceText>Investor Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lender_Limit_Cap</name>
        <choiceText>Lender Limit/Cap</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender Limit/Cap</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_Fee</name>
        <choiceText>Lending Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Book_Query</name>
        <choiceText>Loan Book Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan Book Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Log_the_Call</name>
        <choiceText>Log the Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!UserType} - Wrong Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_Sum_Payment</name>
        <choiceText>Lump Sum Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump Sum Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Borrower_Query</name>
        <choiceText>New Borrower Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Borrower Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Lender_Query</name>
        <choiceText>New Lender Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Lender Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Products</name>
        <choiceText>New Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>NoThankyou</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_must_add_comments_above</name>
        <choiceText>Other (must add comments above)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (must add comments above)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Team</name>
        <choiceText>Other Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset1</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_off_loan_in_Full</name>
        <choiceText>Pay off loan in Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay off loan in Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_of_Return</name>
        <choiceText>Rate of Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate of Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Lending_Limit</name>
        <choiceText>Re-Lending Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Lending Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_and_open_Case</name>
        <choiceText>Record Call and Open Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_No_Further_Action_Required</name>
        <choiceText>Record Call (No Further Action Required)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refer_a_Friend</name>
        <choiceText>Refer a Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refer a Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular_Transfer</name>
        <choiceText>Regular Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repayments</name>
        <choiceText>Repayments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security_answer_reset</name>
        <choiceText>Security answer reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security answer reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Settlement_Figure_Outstanding_Balance</name>
        <choiceText>Settlement Figure/Outstanding Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement Figure/Outstanding Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shorter_vs_Longer</name>
        <choiceText>Shorter vs Longer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shorter vs Longer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_navigation_issues</name>
        <choiceText>Site navigation issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site navigation issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slow_lending_Query</name>
        <choiceText>Slow lending/Queue Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow lending/Queue Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>Statement_Request1</name>
        <choiceText>Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax</name>
        <choiceText>Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Top_up_Repeat_Borrower</name>
        <choiceText>Top-up/Repeat Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Top-up/Repeat Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Understanding_risk_Safeguard</name>
        <choiceText>Understanding risk/Safeguard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Understanding risk/Safeguard</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_call_back</name>
        <choiceText>UW call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UW call back</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UW_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UWYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes1stTime</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YesPlease</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Reference_Funding_Query</name>
        <choiceText>Z Reference/Funding Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z Reference/Funding Query</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Client_Development_or_Lender_Team</name>
        <label>Client Development or Lender Team</label>
        <locationX>49</locationX>
        <locationY>1233</locationY>
        <defaultConnector>
            <targetReference>Send_to_Lender_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Client_Development_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015gey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015get</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Development_Call_Choice</targetReference>
            </connector>
            <label>Is Client Development Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>DidLenderCalledBorrowerLine</name>
        <label>CalledWrongLine</label>
        <locationX>43</locationX>
        <locationY>766</locationY>
        <defaultConnector>
            <targetReference>User_Type_Lender_or_Borrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WrongLine</name>
            <conditionLogic>((1 OR 3) AND 2) OR (4 AND (5 OR 6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>RoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015bEe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E20000001nJDN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E20000001nJDI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015get</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015gey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_you_want_to_do_Lender_or_Borrower_0</targetReference>
            </connector>
            <label>CalledWrongLine</label>
        </rules>
    </decisions>
    <decisions>
        <name>DPAChecked2_0</name>
        <label>DPAChecked</label>
        <locationX>61</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>DidLenderCalledBorrowerLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsDPAChecked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPAPerform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoToDPA2_0</targetReference>
            </connector>
            <label>IsDPAChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>DPASuccess_0_0</name>
        <label>DPASuccess</label>
        <locationX>261</locationX>
        <locationY>707</locationY>
        <defaultConnector>
            <targetReference>End_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Passed_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.DPA_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DidLenderCalledBorrowerLine</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lender_Or_Borrower_0</name>
        <label>Lender Or Borrower</label>
        <locationX>452</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Send_to_Borrower_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_UW_Callback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallOutcomeSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UW_call_back</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UW_Call_Back</targetReference>
            </connector>
            <label>Is UW Callback</label>
        </rules>
        <rules>
            <name>Is_Case_Prep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallOutcomeSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Prep</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UW_Call_Back_0</targetReference>
            </connector>
            <label>Is Case Prep</label>
        </rules>
        <rules>
            <name>LenderRoute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Development_or_Lender_Team</targetReference>
            </connector>
            <label>Lender</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_for_Wrong_Number</name>
        <label>Next Step for Wrong Number</label>
        <locationX>47</locationX>
        <locationY>1113</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Continue_the_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Continue_Lender_Flow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Development_or_Lender_Team</targetReference>
            </connector>
            <label>Continue the Flow Lender</label>
        </rules>
        <rules>
            <name>Continue_the_Flow_Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Continue_with_Borrower_Flow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Borrower_Flow</targetReference>
            </connector>
            <label>Continue the Flow Borrower</label>
        </rules>
        <rules>
            <name>Log_the_call2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Log_the_Call</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UW_Call_Back_0_0</targetReference>
            </connector>
            <label>Log the call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Lender_Borrower_0</name>
        <label>Set Lender Borrower</label>
        <locationX>62</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>AssignAsLender_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsBorrower_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowAccount.Expected_Usage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Type</targetReference>
            </connector>
            <label>IsBorrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type_Lender_or_Borrower</name>
        <label>User Type Lender or Borrower</label>
        <locationX>190</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>Do_you_want_to_do_Lender_or_Borrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsALender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lender_Or_Borrower_0</targetReference>
            </connector>
            <label>IsALender</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichFlowToStart</name>
        <label>WhichFlowToStart</label>
        <locationX>234</locationX>
        <locationY>1360</locationY>
        <defaultConnector>
            <targetReference>Send_to_Lender_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lender Call</defaultConnectorLabel>
        <rules>
            <name>StartCampaignCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhichFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Campaign_Call</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Flow</targetReference>
            </connector>
            <label>StartCampaignCall</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignMemStatus</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
        </filters>
        <object>CampaignMemberStatus</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LookupCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Call_Reason</name>
        <dataType>String</dataType>
        <displayField>Call_Reason__c</displayField>
        <filters>
            <field>User_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Selected_Call_Reason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <valueField>Customer_Type__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Understands</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Understands_how_to_access_their_loans_2__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DurationinSeconds</name>
        <dataType>Number</dataType>
        <expression>({!EndTime}-{!Current_time})*100000</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>RoleID</name>
        <dataType>String</dataType>
        <expression>left({!CurrentUser.UserRoleId},len({!CurrentUser.UserRoleId})-3)</expression>
    </formulas>
    <interviewLabel>Account v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account v3</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>844</locationX>
        <locationY>620</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>DurationinSeconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <elementReference>NewTask.CallType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>NewTask.DPA_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Broker__c</field>
            <value>
                <elementReference>NewTask.DPA_Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>NewTask.DPA_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>NewTask.DPA_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>NewTask.DPA_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>NewTask.DPA_Passed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Repayment_Amount__c</field>
            <value>
                <elementReference>NewTask.DPA_Repayment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Current_time} Flow Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>AccountDetails</name>
        <label>AccountDetails</label>
        <locationX>529</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account_by_Mobile_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>FlowAccount</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>AdminURL__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>Street1__c</queriedFields>
        <queriedFields>HouseNumber__c</queriedFields>
        <queriedFields>Expected_Usage__c</queriedFields>
        <queriedFields>Date_Of_Birth__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentUser</name>
        <label>GetCurrentUser</label>
        <locationX>53</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>call_current_time</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CurrentUser</outputReference>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>UserType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_by_Mobile_Number</name>
        <label>Lookup Account by Mobile Number</label>
        <locationX>316</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Lender_Borrower_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AdminURLLink</assignToReference>
            <field>AdminURL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_DOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Expected_Usage</assignToReference>
            <field>Expected_Usage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_HouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Email</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MobilePhone</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Postcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Street1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Call_Type</name>
        <label>Call_Type</label>
        <locationX>424</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Broker_DPA_Not_Required_set</targetReference>
        </connector>
        <fields>
            <name>Direction</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is this and Inbound or Outbound call?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Direction</name>
            <choiceReferences>Inbound</choiceReferences>
            <choiceReferences>Outbound</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayInfo</name>
            <fieldText>The Caller has been identified as a {!UserType}.  Do you want to perform DPA prior to passing the call over to the correct team?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Passed_By_Broker</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click below to perform DPA on the next screen&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPAPerform</name>
            <choiceReferences>YesPlease</choiceReferences>
            <choiceReferences>NoThankyou</choiceReferences>
            <dataType>String</dataType>
            <fieldText>DPAPerform</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Client_Development_Call_Choice</name>
        <label>Client Development Call Choice</label>
        <locationX>247</locationX>
        <locationY>1240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WhichFlowToStart</targetReference>
        </connector>
        <fields>
            <name>CallFlowDecision</name>
            <fieldText>Please select which flow you wish to start?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WhichFlow</name>
            <choiceReferences>Lender_Call</choiceReferences>
            <choiceReferences>Campaign_Call</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Diagnostics</name>
        <label>Diagnostics</label>
        <locationX>416</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DiagText</name>
            <fieldText>{!RoleID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>usertypeshow</name>
            <fieldText>{!UserType}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Do_you_want_to_do_Lender_or_Borrower</name>
        <label>Borrower Call Options?</label>
        <locationX>378</locationX>
        <locationY>797</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lender_Or_Borrower_0</targetReference>
        </connector>
        <fields>
            <name>Instr</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If the call is one of the below please select an option to record the flow and then pass to the appropriate team.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CallOutcomeSet</name>
            <choiceReferences>UW_call_back</choiceReferences>
            <choiceReferences>Case_Prep</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GotoNextStage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;Otherwise click Next&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Do_you_want_to_do_Lender_or_Borrower_0</name>
        <label>Called Wrong Number</label>
        <locationX>48</locationX>
        <locationY>993</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step_for_Wrong_Number</targetReference>
        </connector>
        <fields>
            <name>Instr_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Caller has been identified as a &lt;B&gt;{!UserType}&lt;/B&gt;.  Please select below how to proceed with the call?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nextChoice</name>
            <choiceReferences>Log_the_Call</choiceReferences>
            <choiceReferences>Continue_Lender_Flow</choiceReferences>
            <choiceReferences>Continue_with_Borrower_Flow</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>End_Call</name>
        <label>End Call</label>
        <locationX>503</locationX>
        <locationY>715</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nofurtheraction</name>
            <fieldText>Failed DPA has been recorded.  No further action is required, please close the workflow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>838</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Completed</name>
            <fieldText>You have finished the workflow, you may close this window.  

If you need to send an email please go back to the case screen and use the &apos;send an email functionality&apos; from there

A activity note has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>GetCurrentUser</startElementReference>
    <subflows>
        <name>Campaign_Flow</name>
        <label>Campaign Flow</label>
        <locationX>220</locationX>
        <locationY>1500</locationY>
        <flowName>Campaign_Flow</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewComment</name>
            <value>
                <elementReference>NewComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAccount</name>
            <value>
                <elementReference>FlowAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_time</name>
            <value>
                <elementReference>Current_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewCase</name>
            <value>
                <elementReference>NewCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GoToDPA2_0</name>
        <label>GoToDPA2</label>
        <locationX>264</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>DPASuccess_0_0</targetReference>
        </connector>
        <flowName>DPA_Flow</flowName>
        <inputAssignments>
            <name>varPassedAccountID</name>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DPATask</name>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartTime</name>
            <value>
                <elementReference>Current_time</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewTask</assignToReference>
            <name>DPATask</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_to_Borrower_Flow</name>
        <label>Send to Borrower Flow</label>
        <locationX>529</locationX>
        <locationY>1242</locationY>
        <flowName>Borrower_Flow</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewCase</name>
            <value>
                <elementReference>NewCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAccount</name>
            <value>
                <elementReference>FlowAccount</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_to_Lender_Flow</name>
        <label>Send to Lender Flow</label>
        <locationX>44</locationX>
        <locationY>1500</locationY>
        <flowName>Investor_Flow</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewCase</name>
            <value>
                <elementReference>NewCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAccount</name>
            <value>
                <elementReference>FlowAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_time</name>
            <value>
                <elementReference>Current_time</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActionsTaken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdminURLLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Broker_DPA_Not_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallDirection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CNC_New_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CustomerConfirmation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DPAPoint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>FlowAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Call_Task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Created_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>NewRepaymentDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRepaymentDetails2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Passed_Mobile_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Script_Repayment_Read</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>UserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DPA_Check_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_DPA_Check_Date_of_Birth</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_DPA_Check_Full_Name</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DPA_Email_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DPA_Passed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DPA_Repayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Street1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetCallReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
