src/flows/Add_Tech_Team-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetCommentValues</name>
        <label>SetCommentValues</label>
        <locationX>506</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>TechCaseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passed_case_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TechCaseComment.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TechCaseComment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date of First Issue {!Date_of_First_Issue} Devices: {!What_Device_is_the_customer_using}, Problem: {!Please_Describe_the_Problem} , Actions: {!What_actions_have_you_taken}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Assign_to_Tech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Assigned_to_Tech_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passed_case_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateComment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Android_Phone_Tablet</name>
        <choiceText>Android Phone/Tablet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Android Phone/Tablet</stringValue>
        </value>
    </choices>
    <choices>
        <name>iPhone_iPad</name>
        <choiceText>iPhone/iPad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iPhone/iPad</stringValue>
        </value>
    </choices>
    <choices>
        <name>Laptop_Desktop</name>
        <choiceText>Laptop/Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Laptop/Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>IsAlreadyCaseTeam</name>
        <label>IsAlreadyCaseTeam</label>
        <locationX>143</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AlreadyThere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAseTeamID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>AlreadyThere</label>
        </rules>
    </decisions>
    <interviewLabel>Add Tech Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Tech Team</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assign_to_Team</name>
        <label>Assign to Team</label>
        <locationX>145</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>CaptureTechDetails</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>passed_case_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <stringValue>0B420000000Gmtb</stringValue>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
    </recordCreates>
    <recordCreates>
        <name>CreateComment</name>
        <label>CreateComment</label>
        <locationX>688</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <inputReference>TechCaseComment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_if_case_team_already_assigned</name>
        <label>Check if case team already assigned</label>
        <locationX>148</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAlreadyCaseTeam</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passed_case_id</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputAssignments>
            <assignToReference>CAseTeamID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>712</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Details</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>CaptureTechDetails</name>
        <label>CaptureTechDetails</label>
        <locationX>337</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetCommentValues</targetReference>
        </connector>
        <fields>
            <name>Date_of_First_Issue</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date of First Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_Device_is_the_customer_using</name>
            <choiceReferences>Laptop_Desktop</choiceReferences>
            <choiceReferences>iPhone_iPad</choiceReferences>
            <choiceReferences>Android_Phone_Tablet</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Device is the customer using</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_Describe_the_Problem</name>
            <fieldText>Please Describe the Problem</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_actions_have_you_taken</name>
            <fieldText>What actions have you taken</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Details</name>
        <label>Details</label>
        <locationX>865</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>List</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Date of Issue:&lt;/B&gt; {!Date_of_First_Issue}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Problem: &lt;/B&gt;{!Please_Describe_the_Problem}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Actions Taken: &lt;/B&gt;{!What_actions_have_you_taken}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Devices:&lt;/B&gt;{!What_Device_is_the_customer_using}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Check_if_case_team_already_assigned</startElementReference>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CAseTeamID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passed_case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TechCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
</Flow>
