src/flows/Add_Case_team_to_Case-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Add_or_Remove</name>
        <label>Add or Remove</label>
        <locationX>224</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>Find_Existing_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AddtoCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Team_Template</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Team_Exists</name>
        <label>Case Team Exists?</label>
        <locationX>606</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Does_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseIDtoRemove</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRecord</targetReference>
            </connector>
            <label>Does Exist</label>
        </rules>
    </decisions>
    <description>Added option to Add or remove Case Team</description>
    <interviewLabel>Add Case team to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Case team to Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Team_Template</name>
        <label>Assign Team Template</label>
        <locationX>410</locationX>
        <locationY>169</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>passedcaseid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>TeamID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecord</name>
        <label>DeleteRecord</label>
        <locationX>810</locationX>
        <locationY>309</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDtoRemove</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_Existing_Record</name>
        <label>Find Existing Record</label>
        <locationX>406</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Team_Exists</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedcaseid</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputAssignments>
            <assignToReference>CaseIDtoRemove</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Add_or_Remove</startElementReference>
    <variables>
        <name>Add</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseIDtoRemove</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passedcaseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0B420000000Gmtb</stringValue>
        </value>
    </variables>
</Flow>
