src/flows/AssignVoicemail-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetCaseId</name>
        <label>SetCaseId</label>
        <locationX>391</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>PassedCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50020000014gwbl</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseVariables</name>
        <label>SetCaseVariables</label>
        <locationX>757</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CaseObject.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhoneNumberVariable</name>
        <label>SetPhoneNumberVariable</label>
        <locationX>251</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>FoundPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Subject</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsAccountNull</name>
        <label>IsAccountNull</label>
        <locationX>756</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Lookup_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LookupHomePhone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TempAccountID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>LookupHomePhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccountNull_0</name>
        <label>IsAccountNull</label>
        <locationX>1135</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Lookup_Account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LookupHomePhone_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>LookupHomePhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatisValueofString</name>
        <label>WhatisValueofString</label>
        <locationX>96</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Show_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CheckStringLength</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>CheckStringLength</label>
        </rules>
    </decisions>
    <formulas>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT({!CaseObject.Subject},LEN({!CaseObject.Subject})-4-(FIND(&quot;From:&quot;, {!CaseObject.Subject}, 0)))</expression>
    </formulas>
    <interviewLabel>AssignVoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Voicemail To Account</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>97</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPhoneNumberVariable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PassedCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>591</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAccountNull</targetReference>
        </connector>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NewAccount</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account2</name>
        <label>Lookup Account</label>
        <locationX>513</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Case_1</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundPhoneNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>TempAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_0</name>
        <label>Lookup Account</label>
        <locationX>753</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCaseVariables</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NewAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_0_0</name>
        <label>Lookup Account</label>
        <locationX>1136</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCaseVariables</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NewAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_1</name>
        <label>Lookup Account</label>
        <locationX>958</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAccountNull_0</targetReference>
        </connector>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NewAccount</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>752</locationX>
        <locationY>555</locationY>
        <inputReference>CaseObject</inputReference>
    </recordUpdates>
    <screens>
        <name>Show_Case</name>
        <label>Show Case</label>
        <locationX>369</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Account2</targetReference>
        </connector>
        <fields>
            <name>Phone</name>
            <fieldText>{!PhoneNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Show_Case_1</name>
        <label>Show Case</label>
        <locationX>511</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsAccountNull</targetReference>
        </connector>
        <fields>
            <name>Phone_1</name>
            <fieldText>{!PhoneNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Show_Subject</name>
        <label>Show Subject</label>
        <locationX>110</locationX>
        <locationY>176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WhatisValueofString</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>{!CaseObject.Subject}
{!PhoneNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Find_Case</startElementReference>
    <variables>
        <name>CaseObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FoundPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>PhoneNumber</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PassedCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TempContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
