src/flows/Assign_to_Tech_Support-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Assign to Tech Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign to Tech Support</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Comment</name>
        <label>Create Case Comment</label>
        <locationX>380</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Change_Case_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Additional_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Passed_case_id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordUpdates>
        <name>Change_Case_Queue</name>
        <label>Change Case Queue</label>
        <locationX>572</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Passed_case_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G20000002n34t</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Provide_Additional_Notes</name>
        <label>Provide Additional Notes</label>
        <locationX>208</locationX>
        <locationY>113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Comment</targetReference>
        </connector>
        <fields>
            <name>AddNotes</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please can you provide some additional details as to why the case is being passed to Tech.  Please ensure that you include as much detail as possible including any relevant dates/times, error messages and device/browser being used&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Notes</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>770</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Details</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your case is now in the Tech Support queue.  We will assign the case back to you once we have completed our investigation&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Provide_Additional_Notes</startElementReference>
    <variables>
        <name>Passed_case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
