src/flows/Assign_to_Account-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Create_a_new_Contact</name>
        <choiceText>Create a new Contact (Account not on admin screens)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateNew</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalate_to_Tech_Account_exists_on_Admin_Screens</name>
        <choiceText>Escalate to Tech (Account exists on Admin Screens)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate</stringValue>
        </value>
    </choices>
    <choices>
        <name>House_Number_and_Postcode</name>
        <choiceText>Postcode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Postcode</stringValue>
        </value>
    </choices>
    <choices>
        <name>MemberID</name>
        <choiceText>MemberID</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MemberID</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No1</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Try_Searching_again</name>
        <choiceText>Try Searching again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TryAgain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Customer_Found</name>
        <label>Is Customer Found</label>
        <locationX>1044</locationX>
        <locationY>181</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Found_Screen</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Details</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Steps_NotFound</name>
        <label>Next Steps</label>
        <locationX>671</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Escalate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalate_to_Tech_Account_exists_on_Admin_Screens</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASsigntoTech</targetReference>
            </connector>
            <label>Escalate</label>
        </rules>
        <rules>
            <name>TryAgainStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Try_Searching_again</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intro_Screen</targetReference>
            </connector>
            <label>TryAgainStep</label>
        </rules>
        <rules>
            <name>CreateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_new_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PassedtoCreateNewContact</targetReference>
            </connector>
            <label>CreateContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Info</name>
        <label>What Info</label>
        <locationX>498</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MemberIDSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_search_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MemberID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MemberIDCollect</targetReference>
            </connector>
            <label>MemberID</label>
        </rules>
        <rules>
            <name>Email_Address_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_search_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email_Address</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAddressCollect</targetReference>
            </connector>
            <label>Email Address Selected</label>
        </rules>
        <rules>
            <name>PostcodeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_search_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>House_Number_and_Postcode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostCodeCollectPage</targetReference>
            </connector>
            <label>PostcodeSelected</label>
        </rules>
    </decisions>
    <interviewLabel>Assign to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign to Account</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookupByEmail</name>
        <label>LookupByEmail</label>
        <locationX>880</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_Found</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_enter_the_Email_ADdress</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonAdminURL</assignToReference>
            <field>AdminURL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonDOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonHouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonMemberID</assignToReference>
            <field>MemberID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonContactID</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonPostcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonStreet1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupByMemberID</name>
        <label>LookupByMemberID</label>
        <locationX>878</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_Found</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_enter_the_Member_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonAdminURL</assignToReference>
            <field>AdminURL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonDOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonHouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonMemberID</assignToReference>
            <field>MemberID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonContactID</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonPostcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonStreet1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupByPostcode</name>
        <label>LookupByPostcode</label>
        <locationX>886</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_Found</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Postcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_enter_the_Postcode</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonAdminURL</assignToReference>
            <field>AdminURL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonDOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonHouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonMemberID</assignToReference>
            <field>MemberID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonContactID</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonPostcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonStreet1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCAse</name>
        <label>UpdateCAse</label>
        <locationX>1462</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PersonContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>EmailAddressCollect</name>
        <label>EmailAddressCollect</label>
        <locationX>675</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupByEmail</targetReference>
        </connector>
        <fields>
            <name>Please_enter_the_Email_ADdress</name>
            <dataType>String</dataType>
            <fieldText>Please enter the Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>1467</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>updated</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The case has now been updated.  Please refresh the screen to see the changes&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>300</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Info</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This flow is used to associate a case with a customer so we can record the email against their account&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The First stage is to locate the customer on the system&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_choose_search_Option</name>
            <choiceReferences>MemberID</choiceReferences>
            <choiceReferences>Email_Address</choiceReferences>
            <choiceReferences>House_Number_and_Postcode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose search Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>MemberIDCollect</name>
        <label>MemberIDCollect</label>
        <locationX>677</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupByMemberID</targetReference>
        </connector>
        <fields>
            <name>Please_enter_the_Member_ID</name>
            <dataType>String</dataType>
            <fieldText>Please enter the Member ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Not_Found_Screen</name>
        <label>Not Found Screen</label>
        <locationX>1267</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Steps_NotFound</targetReference>
        </connector>
        <fields>
            <name>NotFound</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Unfortunately there has been no customers found with these details.  If the person exists in admin screens please escalate to Tech.  If not please create a contact.  If you want to search again choose try again&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <choiceReferences>Escalate_to_Tech_Account_exists_on_Admin_Screens</choiceReferences>
            <choiceReferences>Create_a_new_Contact</choiceReferences>
            <choiceReferences>Try_Searching_again</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>PostCodeCollectPage</name>
        <label>Please enter the Postcode Colect</label>
        <locationX>672</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupByPostcode</targetReference>
        </connector>
        <fields>
            <name>Please_enter_the_Postcode</name>
            <dataType>String</dataType>
            <fieldText>Please enter the Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Show_Details</name>
        <label>Show Details</label>
        <locationX>1261</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCAse</targetReference>
        </connector>
        <fields>
            <name>AccountInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is the following person the correct Customer:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!PersonMemberID}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!AccountName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PersonDOB}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PersonEmail}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PersonHouseNumber} {!PersonStreet1}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PersonPostcode}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Correct</name>
            <choiceReferences>Yes1</choiceReferences>
            <choiceReferences>No1</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is this the Correct Customer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Intro_Screen</startElementReference>
    <subflows>
        <name>ASsigntoTech</name>
        <label>ASsigntoTech</label>
        <locationX>1285</locationX>
        <locationY>534</locationY>
        <flowName>Assign_to_Tech_Support</flowName>
        <inputAssignments>
            <name>Passed_case_id</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <name>Passed_case_id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PassedtoCreateNewContact</name>
        <label>PassedtoCreateNewContact</label>
        <locationX>672</locationX>
        <locationY>639</locationY>
        <flowName>Create_New_Contact_from_Case</flowName>
        <inputAssignments>
            <name>varPassedCaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAdminURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonDOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonHouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonStreet1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
