src/flows/Borrower_Flow-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>CallEndTime</name>
        <label>CallEndTime</label>
        <locationX>1268</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallDirection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Repayment_Details</name>
        <label>New Repayment Details</label>
        <locationX>331</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>NewComment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetRepaymentVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Repayment_Script_Read__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Script_Read</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Customer_Confirmed_Day_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Agreed_to_change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Steps_for_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Call_reason_Borrower</name>
        <label>Set_Call_reason_Borrower</label>
        <locationX>78</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_actions_taken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Call_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Borrower_Radio_Button</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_a_Campaign_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseComplaint_0</name>
        <label>SetCaseComplaint</label>
        <locationX>554</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCaseStatusClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseStatusClosed</name>
        <label>SetCaseStatusClosed</label>
        <locationX>877</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creates_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommentCaseID</name>
        <label>SetCommentCaseID</label>
        <locationX>879</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>NewComment.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRepaymentComment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TechActionsSet</name>
        <label>TechActionsSet</label>
        <locationX>525</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>With Tech</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creates_New_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access_to_Funds_Rapid_returns</name>
        <choiceText>Access to Funds/Rapid returns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to Funds/Rapid returns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Closure</name>
        <choiceText>Account Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies1</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Quick_Pay</name>
        <choiceText>Add Quick Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Quick Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annual_Statement_Request</name>
        <choiceText>Annual Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_by_Phone</name>
        <choiceText>Application by Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application by Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Post_Decision</name>
        <choiceText>Application Status (Post-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Post-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Pre_Decision</name>
        <choiceText>Application Status (Pre-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Pre-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR_Increase_Rate_Change</name>
        <choiceText>APR Increase/Rate Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR Increase/Rate Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_to_Complaints</name>
        <choiceText>Assign to Complaints</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign_to_Complaints</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auth_Third_Party_POA</name>
        <choiceText>Authorisations / Third Party / POA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorisations / Third Party / POA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_top_up</name>
        <choiceText>Auto-top up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-top up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_Debt</name>
        <choiceText>Bad Debt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Debt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrower</name>
        <choiceText>Borrower</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Borrower_Call</name>
        <choiceText>Borrower Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrowing_Criteria</name>
        <choiceText>Borrowing Criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrowing Criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Np</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Campaign_Call</name>
        <choiceText>Campaign Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Prep</name>
        <choiceText>Case Prep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Prep</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Details</name>
        <choiceText>Change Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Direct_Debit</name>
        <choiceText>Change Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Personal_Details</name>
        <choiceText>Change Personal Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Personal Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Repayment_Date</name>
        <choiceText>Change Repayment Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Repayment Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Dev_Response</name>
        <choiceText>Client Dev Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Dev Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collections_Call</name>
        <choiceText>Collections Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deceased_Customer</name>
        <choiceText>Deceased Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_Application</name>
        <choiceText>Declined Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Mail_Marketing</name>
        <choiceText>DM Campaign (Direct Mail)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Mail Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Email_Case</name>
        <choiceText>Duplicate Email/Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Email/Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>ECM_Campaign</name>
        <choiceText>ECM Campaign (Exisitng Customer Management)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ECM Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalate_Tech</name>
        <choiceText>Escalate to Tech</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate_Tech</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exposure_Limit</name>
        <choiceText>Exposure Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exposure Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fast_Track</name>
        <choiceText>Fast Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fraud</name>
        <choiceText>Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funds_sent_without_Z_Reference</name>
        <choiceText>Funds sent without Z Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funds sent without Z Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Discussion_P2P_Discussion</name>
        <choiceText>General Discussion/P2P Discussion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Discussion/P2P Discussion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Historical_performance_information</name>
        <choiceText>Historical performance information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Historical performance information</stringValue>
        </value>
    </choices>
    <choices>
        <name>IFAs</name>
        <choiceText>IFAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IFAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>IntTransferring_to_spouse_family_member</name>
        <choiceText>Internal Transfer to spouse/family member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Transfer to spouse/family member</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISAs</name>
        <choiceText>ISAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lender</name>
        <choiceText>Lender</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Lender_Call</name>
        <choiceText>Lender Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lender_Limit_Cap</name>
        <choiceText>Lender Limit/Cap</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender Limit/Cap</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_Fee</name>
        <choiceText>Lending Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Book_Query</name>
        <choiceText>Loan Book Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan Book Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_Sum_Payment</name>
        <choiceText>Lump Sum Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump Sum Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Borrower_Query</name>
        <choiceText>New Borrower Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Borrower Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Lender_Query</name>
        <choiceText>New Lender Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Lender Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Products</name>
        <choiceText>New Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>NoThankyou</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_must_add_comments_above</name>
        <choiceText>Other (must add comments above)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (must add comments above)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset1</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_off_loan_in_Full</name>
        <choiceText>Pay off loan in Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay off loan in Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Lending_Limit</name>
        <choiceText>Re-Lending Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Lending Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_and_open_Case</name>
        <choiceText>Record Call and Open Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_No_Further_Action_Required</name>
        <choiceText>Record Call (No Further Action Required)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refer_a_Friend</name>
        <choiceText>Refer a Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refer a Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular_Transfer</name>
        <choiceText>Regular Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repayments</name>
        <choiceText>Repayments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security_answer_reset</name>
        <choiceText>Security answer reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security answer reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Settlement_Figure_Outstanding_Balance</name>
        <choiceText>Settlement Figure/Outstanding Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement Figure/Outstanding Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shorter_vs_Longer</name>
        <choiceText>Shorter vs Longer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shorter vs Longer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_navigation_issues</name>
        <choiceText>Site navigation issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site navigation issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slow_lending_Query</name>
        <choiceText>Slow lending/Queue Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow lending/Queue Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>Statement_Request1</name>
        <choiceText>Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax</name>
        <choiceText>Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Top_up_Repeat_Borrower</name>
        <choiceText>Top-up/Repeat Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Top-up/Repeat Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Understanding_risk_Safeguard</name>
        <choiceText>Understanding risk/Safeguard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Understanding risk/Safeguard</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_call_back</name>
        <choiceText>UW call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UW call back</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UW_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UWYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes1stTime</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YesPlease</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Reference_Funding_Query</name>
        <choiceText>Z Reference/Funding Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z Reference/Funding Query</stringValue>
        </value>
    </choices>
    <decisions>
        <name>EOD</name>
        <label>EOD?</label>
        <locationX>1288</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>Get_New_Case_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_EOD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_the_customer_make_an_expression_of_disatissfaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_EOD_Flow</targetReference>
            </connector>
            <label>Record EOD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tech_Call_0</name>
        <label>Is Tech Call?</label>
        <locationX>1140</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>CallEndTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Tech_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Tech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Tech_Team</targetReference>
            </connector>
            <label>Is Tech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_a_Campaign_Call</name>
        <label>Is This a Campaign Call?</label>
        <locationX>88</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Is_This_Repayment_Day_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsACampaign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Borrower_Radio_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ECM_Campaign</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Borrower_Radio_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Direct_Mail_Marketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pass_To_Campaign</targetReference>
            </connector>
            <label>IsACampaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Repayment_Day_Change</name>
        <label>Is This Repayment Day Change?</label>
        <locationX>71</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase.Call_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Repayment_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Repayment_Day_Values</targetReference>
            </connector>
            <label>Repayment Day Change</label>
        </rules>
        <rules>
            <name>No_Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSetCallReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Change_Repayment_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Steps_for_Call</targetReference>
            </connector>
            <label>No Repayment Day Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsComplaint</name>
        <label>IsComplaint</label>
        <locationX>1504</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>EOD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsAComplaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_to_Complaints</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartComplaint</targetReference>
            </connector>
            <label>IsAComplaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_For_Call</name>
        <label>Next_Step_For_Call</label>
        <locationX>544</locationX>
        <locationY>481</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_a_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record_Call_and_open_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case</targetReference>
            </connector>
            <label>Create a New Case</label>
        </rules>
        <rules>
            <name>Raise_A_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_to_Complaints</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseComplaint_0</targetReference>
            </connector>
            <label>Raise A Complaint</label>
        </rules>
        <rules>
            <name>Log_as_a_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record_Call_No_Further_Action_Required</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseStatusClosed</targetReference>
            </connector>
            <label>Log as a call</label>
        </rules>
        <rules>
            <name>Escalate_to_Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalate_Tech</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TechActionsSet</targetReference>
            </connector>
            <label>Escalate_to_Tech Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repayment_Day_ChangeMade</name>
        <label>Repayment Day Change</label>
        <locationX>879</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Is_Tech_Call_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Repayment_Day_Change_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase.Repayment_Script_Read__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommentCaseID</targetReference>
            </connector>
            <label>Repayment Day Change</label>
        </rules>
    </decisions>
    <description>Renamed the following labels:
Direct Mail Marketing to “DM Campaign (Direct Mail)” and
ECM Campaign to “ECM Campaign (Existing Customer Management)”</description>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignMemStatus</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
        </filters>
        <object>CampaignMemberStatus</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LookupCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Call_Reason</name>
        <dataType>String</dataType>
        <displayField>Call_Reason__c</displayField>
        <filters>
            <field>User_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Selected_Call_Reason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <valueField>Customer_Type__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Understands</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Understands_how_to_access_their_loans_2__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DurationinSeconds</name>
        <dataType>Number</dataType>
        <expression>({!EndTime}-{!Current_time})*100000</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>SetRepaymentVariable</name>
        <dataType>String</dataType>
        <expression>&quot;I confirm that you want to move your monthly repayment date from&quot; &amp; {!Old_Repayment_Day} &amp; &quot;  of each month to the &quot; &amp; {!New_Repayment_Day} &amp; &quot; of each month.&quot;
&amp;
 
&quot;Zopa will continue to use your existing Direct Debit instruction to honour your repayments.&quot;
&amp;
&quot;As a result, your next monthly repayment will be due on &quot; &amp; TEXT({!RepaymentDateNew}) &amp; &quot; for an amount of £&quot; &amp; {!RepaymentAdjusted} &amp; &quot;, after which your regular repayment of £&quot; &amp; {!Repayment_Amount_Regular} &amp; &quot; will be collected each month. The amount of your next repayment is slightly different from the regular amount to take account of the number of days between your current monthly repayment date and your new one. Your last repayment date will be &quot; &amp; TEXT({!Repayment_Last_Date}) &amp; &quot;, assuming you make all your repayments. In order for these changes to become effective immediately, could you please confirm whether you are happy to proceed with this change?&quot;</expression>
    </formulas>
    <interviewLabel>Borrower Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Borrower Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddRepaymentComment</name>
        <label>AddRepaymentComment</label>
        <locationX>1143</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Is_Tech_Call_0</targetReference>
        </connector>
        <inputReference>NewComment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>1264</locationX>
        <locationY>308</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>IsComplaint</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>DurationinSeconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <elementReference>NewTask.CallType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>NewTask.DPA_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Broker__c</field>
            <value>
                <elementReference>NewTask.DPA_Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>NewTask.DPA_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>NewTask.DPA_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>NewTask.DPA_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>NewTask.DPA_Passed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Repayment_Amount__c</field>
            <value>
                <elementReference>NewTask.DPA_Repayment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Current_time} Flow Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case</name>
        <label>Creates_New_Case</label>
        <locationX>879</locationX>
        <locationY>293</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Repayment_Day_ChangeMade</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>NewCase.Call_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Confirmed_Day_Change__c</field>
            <value>
                <elementReference>NewCase.Customer_Confirmed_Day_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>NewCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>NewCase.Repayment_Script_Read__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewCase.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewCase.Call_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>FlowAccount.Expected_Usage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Case_ID</name>
        <label>Get New Case ID</label>
        <locationX>1073</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>New_Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Collection_Information_from_Customer_Borrower</name>
        <label>Collection Information from Customer</label>
        <locationX>81</locationX>
        <locationY>36</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Call_reason_Borrower</targetReference>
        </connector>
        <fields>
            <name>Call_Subject_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please insert a subject and description for the call&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL:&lt;A HREF=&quot;{!FlowAccount.AdminURL__c}&quot; TARGET=&quot;_blank&quot;&gt; {!FlowAccount.AdminURL__c}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_actions_taken</name>
            <fieldText>Actions Taken</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Borrower_Radio_Button</name>
            <choiceReferences>Add_Quick_Pay</choiceReferences>
            <choiceReferences>Application_by_Phone</choiceReferences>
            <choiceReferences>Application_Status_Post_Decision</choiceReferences>
            <choiceReferences>Application_Status_Pre_Decision</choiceReferences>
            <choiceReferences>APR_Increase_Rate_Change</choiceReferences>
            <choiceReferences>Borrowing_Criteria</choiceReferences>
            <choiceReferences>Cancellation</choiceReferences>
            <choiceReferences>Change_Direct_Debit</choiceReferences>
            <choiceReferences>Change_Personal_Details</choiceReferences>
            <choiceReferences>Change_Repayment_Date</choiceReferences>
            <choiceReferences>Collections_Call</choiceReferences>
            <choiceReferences>Declined_Application</choiceReferences>
            <choiceReferences>Direct_Mail_Marketing</choiceReferences>
            <choiceReferences>Documents</choiceReferences>
            <choiceReferences>Duplicate_Account</choiceReferences>
            <choiceReferences>ECM_Campaign</choiceReferences>
            <choiceReferences>Fast_Track</choiceReferences>
            <choiceReferences>Fees</choiceReferences>
            <choiceReferences>Fraud</choiceReferences>
            <choiceReferences>Lump_Sum_Payment</choiceReferences>
            <choiceReferences>New_Borrower_Query</choiceReferences>
            <choiceReferences>Password_Reset</choiceReferences>
            <choiceReferences>Pay_off_loan_in_Full</choiceReferences>
            <choiceReferences>Settlement_Figure_Outstanding_Balance</choiceReferences>
            <choiceReferences>Auth_Third_Party_POA</choiceReferences>
            <choiceReferences>Top_up_Repeat_Borrower</choiceReferences>
            <choiceReferences>UW_call_back</choiceReferences>
            <choiceReferences>Client_Dev_Response</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blankspace2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;&lt;br/&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1069</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Completed</name>
            <fieldText>You have finished the workflow, you may close this window.  

If you need to send an email please go back to the case screen and use the &apos;send an email functionality&apos; from there

A new case note has been created with Reference: {!New_Case_Number}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>New_Repayment_Day_Values</name>
        <label>New Repayment Day Values</label>
        <locationX>61</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Present_Repayment_Script</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Once you have completed the changes in admin please enter the new details here to be recorded&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;1&quot;&gt;Admin URL: &lt;FONT STYLE=&quot;font-size:14px&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;{!FlowAccount.AdminURL__c}&quot; TARGET=&quot;_blank&quot;&gt;{!FlowAccount.AdminURL__c}&lt;/A&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Old_Repayment_Day</name>
            <dataType>String</dataType>
            <fieldText>Old Repayment Day of Month (eg 1st, 2nd, 3rd, 4th)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Repayment_Day</name>
            <dataType>String</dataType>
            <fieldText>New Repayment Day of Month (eg 1st, 2nd, 3rd, 4th)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepaymentDateNew</name>
            <dataType>Date</dataType>
            <fieldText>Next Repayment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RepaymentAdjusted</name>
            <dataType>String</dataType>
            <fieldText>Adjusted Next Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Repayment_Amount_Regular</name>
            <dataType>String</dataType>
            <fieldText>Regular Repayment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Repayment_Last_Date</name>
            <dataType>Date</dataType>
            <fieldText>New Last Repayment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Next_Steps_for_Call</name>
        <label>Next Steps for Call</label>
        <locationX>331</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step_For_Call</targetReference>
        </connector>
        <fields>
            <name>AdminURL</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;FONT STYLE=&quot;font-size:14px&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;{!FlowAccount.AdminURL__c}&quot; TARGET=&quot;_blank&quot;&gt;{!FlowAccount.AdminURL__c}&lt;/A&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NS_Text</name>
            <fieldText>Please select one of the following options:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <choiceReferences>Record_Call_No_Further_Action_Required</choiceReferences>
            <choiceReferences>Record_Call_and_open_Case</choiceReferences>
            <choiceReferences>Escalate_Tech</choiceReferences>
            <choiceReferences>Assign_to_Complaints</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Did_the_customer_make_an_expression_of_disatissfaction</name>
            <dataType>Boolean</dataType>
            <fieldText>Did the customer raise a concern?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Present_Repayment_Script</name>
        <label>Present_Repayment_Script</label>
        <locationX>62</locationX>
        <locationY>736</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Repayment_Details</targetReference>
        </connector>
        <fields>
            <name>Repayment_Change_Script</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change repayment day script&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This  &lt;/B&gt;&lt;B&gt;&lt;U&gt;must&lt;/U&gt;&lt;/B&gt;&lt;B&gt; be read to the customer over the telephone before you change a repayment date:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;quot;I confirm that you want to move your monthly repayment date from &lt;FONT KERNING=&quot;1&quot;&gt;{!Old_Repayment_Day}&lt;/FONT&gt; of each month to the &lt;FONT KERNING=&quot;1&quot;&gt;{!New_Repayment_Day}&lt;/FONT&gt; of each month.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Zopa will continue to use your existing Direct Debit instruction to honour your repayments.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;nbsp;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;As a result, your next monthly repayment will be due on &lt;FONT KERNING=&quot;1&quot;&gt;{!RepaymentDateNew}&lt;/FONT&gt; for an amount of £&lt;FONT KERNING=&quot;1&quot;&gt;{!RepaymentAdjusted}&lt;/FONT&gt;, after which your regular repayment of £&lt;FONT KERNING=&quot;1&quot;&gt;{!Repayment_Amount_Regular}&lt;/FONT&gt; will be collected each month.  The amount of your next repayment is slightly different from the regular amount to take account of the number of days between your current monthly repayment date and your new one. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your last repayment date will be &lt;FONT KERNING=&quot;1&quot;&gt;{!Repayment_Last_Date}&lt;/FONT&gt;, assuming you make all your repayments.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In order for these changes to become effective immediately, could you please confirm whether you are happy to proceed with this change?”&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Script_Read</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Please confirm that you have read the script</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Agreed_to_change</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Agreed to change</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Collection_Information_from_Customer_Borrower</startElementReference>
    <subflows>
        <name>Add_Tech_Team</name>
        <label>Add Tech Team</label>
        <locationX>1019</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>CallEndTime</targetReference>
        </connector>
        <flowName>Add_Tech_Team</flowName>
        <inputAssignments>
            <name>passed_case_id</name>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pass_To_Campaign</name>
        <label>Pass To Campaign</label>
        <locationX>330</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>Is_This_Repayment_Day_Change</targetReference>
        </connector>
        <flowName>Campaign_Flow</flowName>
        <inputAssignments>
            <name>UserRoleID</name>
            <value>
                <elementReference>UserRoleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAccount</name>
            <value>
                <elementReference>FlowAccount</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_EOD_Flow</name>
        <label>Run EOD Flow</label>
        <locationX>1080</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Get_New_Case_ID</targetReference>
        </connector>
        <flowName>EOD_Flow</flowName>
        <inputAssignments>
            <name>varpassedcaseId</name>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varpassedaccountID</name>
            <value>
                <elementReference>FlowAccount.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>StartComplaint</name>
        <label>StartComplaint</label>
        <locationX>1499</locationX>
        <locationY>103</locationY>
        <flowName>Complaint</flowName>
        <inputAssignments>
            <name>VarPassedCaseId</name>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActionsTaken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallDirection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>FlowAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>New_Call_Task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Created_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>UserRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetCallReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
