src/flows/Campaign_Flow-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Campaign_Over_10K_New</name>
        <label>Campaign Over 10K New</label>
        <locationX>864</locationX>
        <locationY>246</locationY>
        <actionName>CampaignMember.Campaign_Client_Development_High_Funder_over_10k_New</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Call_Record_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CampaignMemberID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CampaignDPANotLiked</name>
        <label>CampaignDPANotLiked</label>
        <locationX>1017</locationX>
        <locationY>243</locationY>
        <actionName>CampaignMember.Campaign_DPA_not_liked</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Call_Record_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CampaignMemberID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CampaignMoreThan6Mths</name>
        <label>CampaignMoreThan6Mths</label>
        <locationX>687</locationX>
        <locationY>236</locationY>
        <actionName>CampaignMember.CCD_M6mth</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Call_Record_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CampaignMemberID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_Funded_1_10k</name>
        <label>Client Funded 1-10k</label>
        <locationX>1165</locationX>
        <locationY>247</locationY>
        <actionName>CampaignMember.Campaign_Client_Development_1K_10K_Funded</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Call_Record_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CampaignMemberID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_FF10K</name>
        <label>Email FF10K</label>
        <locationX>506</locationX>
        <locationY>239</locationY>
        <actionName>CampaignMember.Client_Development_First_Funded_Under_10k</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Call_Record_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CampaignMemberID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>CallEndTime_0</name>
        <label>CallEndTime</label>
        <locationX>751</locationX>
        <locationY>937</locationY>
        <assignmentItems>
            <assignToReference>EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCampaignAsCompleted</name>
        <label>SetCampaignAsCompleted</label>
        <locationX>22</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>CampaignStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Already_a_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCampaignStatus</name>
        <label>SetCampaignStatus</label>
        <locationX>167</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>CampaignStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesToAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Already_a_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCampaignStatus_0</name>
        <label>SetCampaignStatus</label>
        <locationX>376</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>CampaignStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Member_Status_BRW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesToAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnotherProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Did_the_Customer_go_with_another_provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Already_a_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access_to_Funds_Rapid_returns</name>
        <choiceText>Access to Funds/Rapid returns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to Funds/Rapid returns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Closure</name>
        <choiceText>Account Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies1</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Quick_Pay</name>
        <choiceText>Add Quick Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Quick Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annual_Statement_Request</name>
        <choiceText>Annual Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_by_Phone</name>
        <choiceText>Application by Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application by Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Post_Decision</name>
        <choiceText>Application Status (Post-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Post-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Pre_Decision</name>
        <choiceText>Application Status (Pre-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Pre-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR_Increase_Rate_Change</name>
        <choiceText>APR Increase/Rate Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR Increase/Rate Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_to_Complaints</name>
        <choiceText>Assign to Complaints</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign_to_Complaints</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auth_Third_Party_POA</name>
        <choiceText>Authorisations / Third Party / POA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorisations / Third Party / POA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_top_up</name>
        <choiceText>Auto-top up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-top up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_Debt</name>
        <choiceText>Bad Debt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Debt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrower</name>
        <choiceText>Borrower</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Borrower_Call</name>
        <choiceText>Borrower Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrowing_Criteria</name>
        <choiceText>Borrowing Criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrowing Criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Np</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Campaign_Call</name>
        <choiceText>Campaign Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Prep</name>
        <choiceText>Case Prep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Prep</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Details</name>
        <choiceText>Change Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Direct_Debit</name>
        <choiceText>Change Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Personal_Details</name>
        <choiceText>Change Personal Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Personal Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Repayment_Date</name>
        <choiceText>Change Repayment Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Repayment Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Dev_Response</name>
        <choiceText>Client Dev Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Dev Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collections_Call</name>
        <choiceText>Collections Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deceased_Customer</name>
        <choiceText>Deceased Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_Application</name>
        <choiceText>Declined Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Mail_Marketing</name>
        <choiceText>Direct Mail Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Mail Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Email_Case</name>
        <choiceText>Duplicate Email/Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Email/Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalate_Tech</name>
        <choiceText>Escalate to Tech</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate_Tech</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exposure_Limit</name>
        <choiceText>Exposure Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exposure Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fast_Track</name>
        <choiceText>Fast Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fraud</name>
        <choiceText>Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funds_sent_without_Z_Reference</name>
        <choiceText>Funds sent without Z Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funds sent without Z Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Discussion_P2P_Discussion</name>
        <choiceText>General Discussion/P2P Discussion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Discussion/P2P Discussion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Historical_performance_information</name>
        <choiceText>Historical performance information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Historical performance information</stringValue>
        </value>
    </choices>
    <choices>
        <name>IFAs</name>
        <choiceText>IFAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IFAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>IntTransferring_to_spouse_family_member</name>
        <choiceText>Internal Transfer to spouse/family member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Transfer to spouse/family member</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISAs</name>
        <choiceText>ISAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lender</name>
        <choiceText>Lender</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Lender_Call</name>
        <choiceText>Lender Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lender_Limit_Cap</name>
        <choiceText>Lender Limit/Cap</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender Limit/Cap</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_Fee</name>
        <choiceText>Lending Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Book_Query</name>
        <choiceText>Loan Book Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan Book Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_Sum_Payment</name>
        <choiceText>Lump Sum Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump Sum Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Borrower_Query</name>
        <choiceText>New Borrower Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Borrower Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Lender_Query</name>
        <choiceText>New Lender Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Lender Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Products</name>
        <choiceText>New Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No2</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoThankyou</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_must_add_comments_above</name>
        <choiceText>Other (must add comments above)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (must add comments above)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset1</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_off_loan_in_Full</name>
        <choiceText>Pay off loan in Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay off loan in Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_of_Return</name>
        <choiceText>Rate of Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate of Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Lending_Limit</name>
        <choiceText>Re-Lending Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Lending Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_and_open_Case</name>
        <choiceText>Record Call and Open Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Call_No_Further_Action_Required</name>
        <choiceText>Record Call (No Further Action Required)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refer_a_Friend</name>
        <choiceText>Refer a Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refer a Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular_Transfer</name>
        <choiceText>Regular Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repayments</name>
        <choiceText>Repayments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security_answer_reset</name>
        <choiceText>Security answer reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security answer reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Settlement_Figure_Outstanding_Balance</name>
        <choiceText>Settlement Figure/Outstanding Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement Figure/Outstanding Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shorter_vs_Longer</name>
        <choiceText>Shorter vs Longer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shorter vs Longer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_navigation_issues</name>
        <choiceText>Site navigation issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site navigation issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slow_lending_Query</name>
        <choiceText>Slow lending/Queue Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow lending/Queue Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>Statement_Request1</name>
        <choiceText>Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax</name>
        <choiceText>Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Top_up_Repeat_Borrower</name>
        <choiceText>Top-up/Repeat Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Top-up/Repeat Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Understanding_risk_Safeguard</name>
        <choiceText>Understanding risk/Safeguard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Understanding risk/Safeguard</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_call_back</name>
        <choiceText>UW call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UW call back</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UW_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>UWYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes1stTime</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesPlease</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Reference_Funding_Query</name>
        <choiceText>Z Reference/Funding Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z Reference/Funding Query</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Campaign_Member_Exist</name>
        <label>Does Campaign Member Exist?</label>
        <locationX>164</locationX>
        <locationY>941</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAnotherProvider</name>
        <label>IsAnotherProvider?</label>
        <locationX>373</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>SetCampaignStatus_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesAnotherProvider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_the_Customer_go_with_another_provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampaignCallOutcome_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBorrowerOrLender</name>
        <label>IsBorrowerOrLender</label>
        <locationX>169</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>CampaignCallOutcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BorrowerCampaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BorrowerOrInvestor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsDirectMailCampaign</targetReference>
            </connector>
            <label>Borrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClientDevelopmentMember</name>
        <label>IsClientDevelopmentMember</label>
        <locationX>65</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>SetCampaignAsCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsClientDevelopment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015gey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015get</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsBorrowerOrLender</targetReference>
            </connector>
            <label>IsClientDevelopment</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClientDevelopmentMember_0</name>
        <label>IsClientDevelopmentMember</label>
        <locationX>548</locationX>
        <locationY>936</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsClientDevelopment_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015gey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E200000015get</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallEndTime_0</targetReference>
            </connector>
            <label>IsClientDevelopment</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDirectMailCampaign</name>
        <label>IsDirectMailCampaign</label>
        <locationX>280</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>CampaignCallOutcome_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isDirectMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_Campaign</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7010O0000019Mqw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_Mail_Screen</targetReference>
            </connector>
            <label>isDirectMail</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEmailRequired</name>
        <label>IsEmailRequired</label>
        <locationX>855</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>Create_Call_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FirstFundedUnder10K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701200000012b1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Member_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No answer - email sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_FF10K</targetReference>
            </connector>
            <label>FirstFundedUnder10K</label>
        </rules>
        <rules>
            <name>HighFunderOver6mths</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701200000012b1A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Member_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No answer - email sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampaignMoreThan6Mths</targetReference>
            </connector>
            <label>HighFunderOver6mths</label>
        </rules>
        <rules>
            <name>HigherFunderNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701200000012b15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Member_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No answer - email sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Over_10K_New</targetReference>
            </connector>
            <label>HigherFunderNew</label>
        </rules>
        <rules>
            <name>Over30_50NeverContacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7010O000001NnHj</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Member_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No answer - email sent</stringValue>
                </rightValue>
            </conditions>
            <label>Over30-50NeverContacted</label>
        </rules>
        <rules>
            <name>DPA_Not_Liked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Member_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Comfortable with DPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampaignDPANotLiked</targetReference>
            </connector>
            <label>DPA Not Liked</label>
        </rules>
        <rules>
            <name>Funded_1_10K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7010O0000019K63</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Member_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No answer - email sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Funded_1_10k</targetReference>
            </connector>
            <label>Funded 1-10K</label>
        </rules>
    </decisions>
    <decisions>
        <name>NextStepCampaign</name>
        <label>NextStepCampaign</label>
        <locationX>1610</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>Finish_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AdditionalQuery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activate_the_Lender_Workflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pass_to_Investor_Flow</targetReference>
            </connector>
            <label>AdditionalQuery</label>
        </rules>
    </decisions>
    <description>Added Direct Mail Field Screen for Borrower flow</description>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignMemStatus</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HearaboutZopa</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_did_you_hear_about_Zopa__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LookupCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Call_Reason</name>
        <dataType>String</dataType>
        <displayField>Call_Reason__c</displayField>
        <filters>
            <field>User_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Selected_Call_Reason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <valueField>Customer_Type__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Understands</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Understands_how_to_access_their_loans_2__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DurationinSeconds</name>
        <dataType>Number</dataType>
        <expression>({!EndTime}-{!Current_time})*100000</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>Campaign Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Call_Record</name>
        <label>Create Call Record</label>
        <locationX>1459</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Anything_Further</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDisposition</field>
            <value>
                <elementReference>CampaignStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>DurationinSeconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Rate__c</field>
            <value>
                <elementReference>What_Rate_was_the_customer_offered_by_the_other_provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Went_with_Another_Provider__c</field>
            <value>
                <elementReference>AnotherProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>NewTask.DPA_Passed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NotesToAdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_did_you_hear_about_Zopa__c</field>
            <value>
                <elementReference>How_did_the_customer_hear_about_Zopa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_This_First_Time_Investing_in_P2P2__c</field>
            <value>
                <elementReference>Is_this_the_first_time_investing_in_P2P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Campaign Call - {!CampaignName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_Safeguard_is_not_a_Guarantee__c</field>
            <value>
                <elementReference>Understand_that_Safeguard_is_not_a_guarantee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_how_to_access_their_loans__c</field>
            <value>
                <elementReference>Understand_how_to_access_their_loans_by_selling_to_others</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_lending_to_Individuals__c</field>
            <value>
                <elementReference>Understand_that_they_are_lending_to_individuals_for_personal_loans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understands_why_rate_might_differ__c</field>
            <value>
                <elementReference>Understand_why_their_rate_might_differ_from_the_headline_rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Provider__c</field>
            <value>
                <elementReference>Provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Call_Record_0</name>
        <label>Create Email Task</label>
        <locationX>802</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Create_Call_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDisposition</field>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Campaign Email - {!CampaignName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>360</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Lookup_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Already_a_Campaign_Member</name>
        <label>Check if Already a Campaign Member</label>
        <locationX>170</locationX>
        <locationY>797</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Campaign_Member_Exist</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignID</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Campaign</name>
        <label>Lookup Campaign</label>
        <locationX>552</locationX>
        <locationY>785</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsClientDevelopmentMember_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampaignName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Campaign_Member</name>
        <label>Lookup Campaign Member</label>
        <locationX>750</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEmailRequired</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign Member</label>
        <locationX>358</locationX>
        <locationY>939</locationY>
        <connector>
            <targetReference>Lookup_Campaign</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowAccount.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <screens>
        <name>Anything_Further</name>
        <label>Anything Further</label>
        <locationX>1427</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NextStepCampaign</targetReference>
        </connector>
        <fields>
            <name>details</name>
            <fieldText>Does the customer have anything that they wish to discuss about their account?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activate_the_Lender_Workflow</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Activate the Investor Workflow?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CampaignCallOutcome</name>
        <label>CampaignCallOutcome</label>
        <locationX>163</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetCampaignStatus</targetReference>
        </connector>
        <fields>
            <name>NoteIns</name>
            <fieldText>Please enter any notes relating to the call and then select the new member status for the campaign</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campaign_Member_Status</name>
            <choiceReferences>CampaignMemStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign Member Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_the_first_time_investing_in_P2P2</name>
            <choiceReferences>Yes2</choiceReferences>
            <choiceReferences>No2</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this the first time investing in P2P?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayMe</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;Does the Customer:&lt;br/&gt;&lt;br/&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Understand_that_Safeguard_is_not_a_guarantee</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand that Safeguard is not a guarantee</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Understand_how_to_access_their_loans_by_selling_to_others</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand how to access their loans by selling to others</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Understand_that_they_are_lending_to_individuals_for_personal_loans</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand that they are lending to individuals for personal loans</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Understand_why_their_rate_might_differ_from_the_headline_rate</name>
            <choiceReferences>Understands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Understand why their rate might differ from the headline rate</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CampaignCallOutcome_0</name>
        <label>BorrowerCampaignCallOutcome</label>
        <locationX>372</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsAnotherProvider</targetReference>
        </connector>
        <fields>
            <name>NoteIns_0</name>
            <fieldText>Please enter any notes relating to the call and then select the new member status for the campaign</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_0</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display4_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campaign_Member_Status_BRW</name>
            <choiceReferences>CampaignMemStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign Member Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display5_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Did_the_Customer_go_with_another_provider</name>
            <dataType>Boolean</dataType>
            <fieldText>Did the Customer go with another provider?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CampaignCallOutcome_0_0</name>
        <label>BorrowerCampaignCallOutcome2</label>
        <locationX>552</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetCampaignStatus_0</targetReference>
        </connector>
        <fields>
            <name>NoteIns_0_0</name>
            <fieldText>Please provide more detail if available</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider</name>
            <fieldText>What provider did the customer go with?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display4_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Rate_was_the_customer_offered_by_the_other_provider</name>
            <dataType>String</dataType>
            <fieldText>What Rate was the customer offered by the other provider</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Direct_Mail_Screen</name>
        <label>Direct Mail Screen</label>
        <locationX>532</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CampaignCallOutcome_0</targetReference>
        </connector>
        <fields>
            <name>How_did_the_customer_hear_about_Zopa</name>
            <choiceReferences>HearaboutZopa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did the customer hear about Zopa?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1614</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Completed</name>
            <fieldText>You have finished the workflow, you may close this window.  

If you need to send an email please go back to the case screen and use the &apos;send an email functionality&apos; from there

A new campaign note has been created with Reference: {!CampaignName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Select_Campaign</name>
        <label>Select Campaign</label>
        <locationX>78</locationX>
        <locationY>8</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsClientDevelopmentMember</targetReference>
        </connector>
        <fields>
            <name>Select_the_Campaign</name>
            <choiceReferences>LookupCampaigns</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>1193</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Call_Record_0</targetReference>
        </connector>
        <fields>
            <name>testyy</name>
            <fieldText>testttee</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Select_Campaign</startElementReference>
    <subflows>
        <name>Pass_to_Investor_Flow</name>
        <label>Pass to Investor Flow</label>
        <locationX>1614</locationX>
        <locationY>306</locationY>
        <flowName>Investor_Flow</flowName>
        <inputAssignments>
            <name>FlowAccount</name>
            <value>
                <elementReference>FlowAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewCase</name>
            <value>
                <elementReference>NewCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_time</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AnotherProvider</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BorrowerOrInvestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>FlowAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NotesToAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>UserRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
