src/flows/Case_Prep_Flow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>call_current_time</name>
        <label>call_current_time</label>
        <locationX>52</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>Current_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseID</name>
        <label>SetCaseID</label>
        <locationX>266</locationX>
        <locationY>29</locationY>
        <assignmentItems>
            <assignToReference>varPassedCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5000O00001BE1cj</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>call_current_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEndTime</name>
        <label>SetEndTime</label>
        <locationX>564</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>697</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>NewActivity.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Prep - {!Call_Reason}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseComments.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddCaseNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseComments.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PassedCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseComments.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseComments.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.CallDurationInSeconds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallDurationInSeconds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateActivity</name>
        <label>UpdateActivity</label>
        <locationX>51</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>NewActivity.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PassedCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountObject.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Memorable_Word__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Passed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.DPA_Repayment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Select_Call_Direction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Prep - DPA Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_to_DPA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancellations</name>
        <choiceText>Cancellations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_of_bank_details</name>
        <choiceText>Change of bank details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change of bank details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents2</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_requests</name>
        <choiceText>Email requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employment_Query</name>
        <choiceText>Employment Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employment Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funds_sent_without_Z_Reference</name>
        <choiceText>Funds sent without Z Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funds sent without Z Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>IFAs</name>
        <choiceText>IFAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IFAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Inbound2</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISAs</name>
        <choiceText>ISAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_Fee</name>
        <choiceText>Lending Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_Sum_Payment</name>
        <choiceText>Lump Sum Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump Sum Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Borrower_Query</name>
        <choiceText>New Borrower Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Borrower Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Outbound2</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset1</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_off_loan_in_Full</name>
        <choiceText>Pay off loan in Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay off loan in Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_of_Return</name>
        <choiceText>Rate of Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate of Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Lending_Limit</name>
        <choiceText>Re-Lending Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Lending Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Open</name>
        <choiceText>Re-Open Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re_Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_of_Applications</name>
        <choiceText>Status of Applications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status of Applications</stringValue>
        </value>
    </choices>
    <decisions>
        <name>EOD</name>
        <label>EOD?</label>
        <locationX>250</locationX>
        <locationY>628</locationY>
        <defaultConnector>
            <targetReference>SetEndTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Ias_EOD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_customer_show_any_expression_of_dissastifaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_EOD_Flow</targetReference>
            </connector>
            <label>Ias EOD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_DPA_Been_passed</name>
        <label>Has_DPA_Been_passed</label>
        <locationX>46</locationX>
        <locationY>765</locationY>
        <defaultConnector>
            <targetReference>Create_DPA_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DPA_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewActivity.DPA_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Information_from_Customer_Borrower</targetReference>
            </connector>
            <label>DPA_Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Case_Call_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>CallDurationInSeconds</name>
        <dataType>Number</dataType>
        <expression>({!EndTime}-{!Current_time})*100000</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>Case Prep Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Prep Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_DPA_Failed</name>
        <label>Create DPA Failed</label>
        <locationX>43</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>DPA_Failed</targetReference>
        </connector>
        <inputReference>NewActivity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateComments</name>
        <label>CreateComments</label>
        <locationX>1032</locationX>
        <locationY>769</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>CaseComments</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SaveActivity</name>
        <label>SaveActivity</label>
        <locationX>856</locationX>
        <locationY>769</locationY>
        <connector>
            <targetReference>CreateComments</targetReference>
        </connector>
        <inputReference>NewActivity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>52</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Call_Direction</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PassedCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NewAccountObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Date_Of_Birth__c</queriedFields>
        <queriedFields>MemberID__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>Street1__c</queriedFields>
        <queriedFields>Street2__c</queriedFields>
        <queriedFields>HouseNumber__c</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>AdminURL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>51</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>PassedCase</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>ContactMobile</queriedFields>
        <queriedFields>ContactPhone</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>SuppliedName</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Collection_Information_from_Customer_Borrower</name>
        <label>Collection Information from Customer</label>
        <locationX>245</locationX>
        <locationY>767</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EOD</targetReference>
        </connector>
        <fields>
            <name>Call_Subject_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Exiting Case Details are shown below&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;{!NewAccountObject.AdminURL__c}&quot; TARGET=&quot;_blank&quot;&gt;{!NewAccountObject.AdminURL__c}&lt;/A&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case ID: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!PassedCase.CaseNumber}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!PassedCase.Status}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Subject:&lt;/B&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!PassedCase.Subject}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Description: &lt;/B&gt;{!PassedCase.Description}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Reason</name>
            <choiceReferences>Status_of_Applications</choiceReferences>
            <choiceReferences>Documents2</choiceReferences>
            <choiceReferences>Employment_Query</choiceReferences>
            <choiceReferences>Cancellations</choiceReferences>
            <choiceReferences>Change_of_bank_details</choiceReferences>
            <choiceReferences>Email_requests</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddCaseNotes</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_show_any_expression_of_dissastifaction</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the customer show any expression of dissastifaction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>DPA_Failed</name>
        <label>DPA Failed</label>
        <locationX>243</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DPA_Failed_Text</name>
            <fieldText>I am sorry but we have been unable to verify your identity.  Once you have the relevant details please call us again and we will be able to process your query.

Thanks</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1211</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End</name>
            <fieldText>The workflow is now completed and a new comment has been added to the case and a new activity associated with the phone call.  Please close this window to finish</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Set_Call_Direction</name>
        <label>Set Call Direction</label>
        <locationX>256</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateActivity</targetReference>
        </connector>
        <fields>
            <name>Please_Select_Call_Direction</name>
            <choiceReferences>Inbound2</choiceReferences>
            <choiceReferences>Outbound2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select Call Direction</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseDetails</name>
            <fieldText>Name: {!NewAccountObject.Name}

Case Details

Case Number: {!PassedCase.CaseNumber}
Subject: {!PassedCase.Subject}
Description: {!PassedCase.Description}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>call_current_time</startElementReference>
    <subflows>
        <name>Pass_to_DPA</name>
        <label>Pass to DPA</label>
        <locationX>49</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>Has_DPA_Been_passed</targetReference>
        </connector>
        <flowName>DPA_Flow</flowName>
        <inputAssignments>
            <name>DPATask</name>
            <value>
                <elementReference>NewActivity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPassedAccountID</name>
            <value>
                <elementReference>NewAccountObject.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewActivity</assignToReference>
            <name>DPATask</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_EOD_Flow</name>
        <label>Run EOD Flow</label>
        <locationX>572</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>SetEndTime</targetReference>
        </connector>
        <flowName>EOD_Flow</flowName>
        <inputAssignments>
            <name>varpassedaccountID</name>
            <value>
                <elementReference>PassedCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varpassedcaseId</name>
            <value>
                <elementReference>PassedCase.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseComments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>Current_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MyTest_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAccountObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PassedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassedCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
