src/flows/Case_Call_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignCommentNotes</name>
        <label>AssignCommentNotes</label>
        <locationX>1495</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>Notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First Issue: {!Date_of_Issue_First_time}Other Key Dates:{!Any_other_key_dates}Details of Problem:{!Details_of_Error_Messages}Actions Taken so far:{!What_actions_have_you_taken}Device Used: {!Device_being_used}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToTech</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCommentNotes_0</name>
        <label>AssignCommentNotes</label>
        <locationX>1294</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>Notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_actions_taken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Step_For_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>call_current_time</name>
        <label>call_current_time</label>
        <locationX>136</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>Current_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access_to_Funds_Rapid_returns</name>
        <choiceText>Access to Funds/Rapid returns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to Funds/Rapid returns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies1</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request1</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Notes_but_keep_case_open</name>
        <choiceText>Add Notes but keep case open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add_Notes_but_keep_case_open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Quick_Pay</name>
        <choiceText>Add Quick Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Quick Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annual_Statement_Request</name>
        <choiceText>Annual Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_by_Phone</name>
        <choiceText>Application by Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application by Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Post_Decision</name>
        <choiceText>Application Status (Post-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Post-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Pre_Decision</name>
        <choiceText>Application Status (Pre-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Pre-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR_Increase_Rate_Change</name>
        <choiceText>APR Increase/Rate Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR Increase/Rate Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_to_Complaints</name>
        <choiceText>Assign to Complaints</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign_to_Complaints</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_top_up</name>
        <choiceText>Auto-top up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-top up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrowing_Criteria</name>
        <choiceText>Borrowing Criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrowing Criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Np</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Details</name>
        <choiceText>Change Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Direct_Debit</name>
        <choiceText>Change Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Personal_Details</name>
        <choiceText>Change Personal Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Personal Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Repayment_Date</name>
        <choiceText>Change Repayment Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Repayment Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Close_Case</name>
        <choiceText>Close Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collections_Call</name>
        <choiceText>Collections Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deceased_Customer</name>
        <choiceText>Deceased Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_Application</name>
        <choiceText>Declined Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Mail_Marketing</name>
        <choiceText>Direct Mail Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Mail Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalate_Tech</name>
        <choiceText>Escalate to Tech</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate_Tech</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fast_Track</name>
        <choiceText>Fast Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funds_sent_without_Z_Reference</name>
        <choiceText>Funds sent without Z Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funds sent without Z Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>IFAs</name>
        <choiceText>IFAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IFAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISAs</name>
        <choiceText>ISAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_Fee</name>
        <choiceText>Lending Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_Sum_Payment</name>
        <choiceText>Lump Sum Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump Sum Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Borrower_Query</name>
        <choiceText>New Borrower Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Borrower Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset1</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_off_loan_in_Full</name>
        <choiceText>Pay off loan in Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay off loan in Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_of_Return</name>
        <choiceText>Rate of Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate of Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Lending_Limit</name>
        <choiceText>Re-Lending Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Lending Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Open</name>
        <choiceText>Re-Open Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re_Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Settlement_Figure_Outstanding_Balance</name>
        <choiceText>Settlement Figure/Outstanding Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement Figure/Outstanding Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shorter_vs_Longer</name>
        <choiceText>Shorter vs Longer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shorter vs Longer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slow_lending_Query</name>
        <choiceText>Slow lending Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow lending Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Top_up_Repeat_Borrower</name>
        <choiceText>Top-up/Repeat Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Top-up/Repeat Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transferring_to_spouse_family_member</name>
        <choiceText>Transferring to spouse/family member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferring to spouse/family member</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_call_back</name>
        <choiceText>UW call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UW call back</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Has_DPA_Been_passed</name>
        <label>Has_DPA_Been_passed</label>
        <locationX>321</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DPA_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPA_Pass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Information_from_Customer_Borrower</targetReference>
            </connector>
            <label>DPA_Success</label>
        </rules>
        <rules>
            <name>DPA_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPA_Pass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Call_Task_0</targetReference>
            </connector>
            <label>DPA_Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tech_Support</name>
        <label>Is Tech Support?</label>
        <locationX>1011</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Tech_Support_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalate_Tech</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalate_to_Tech_Notes</targetReference>
            </connector>
            <label>Is Tech Support</label>
        </rules>
        <rules>
            <name>Is_Tech_Support_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Escalate_Tech</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Steps_for_Call_0</targetReference>
            </connector>
            <label>Is Tech Support No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_For_Call</name>
        <label>Next_Step_For_Call</label>
        <locationX>1326</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_a_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Notes_but_keep_case_open</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Comment</targetReference>
            </connector>
            <label>Add Notes (keep case open)</label>
        </rules>
        <rules>
            <name>Raise_A_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_to_Complaints</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToComplaints</targetReference>
            </connector>
            <label>Raise A Complaint</label>
        </rules>
        <rules>
            <name>Log_as_a_call</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Close_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseClosed</targetReference>
            </connector>
            <label>Close Case</label>
        </rules>
        <rules>
            <name>Escalate_to_Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalate_Tech</elementReference>
                </rightValue>
            </conditions>
            <label>Escalate_to_Tech Support</label>
        </rules>
        <rules>
            <name>Reopen_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Steps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Re_Open</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseOpen</targetReference>
            </connector>
            <label>Reopen Case</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Case_Call_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Call_Reason</name>
        <dataType>String</dataType>
        <displayField>Call_Reason__c</displayField>
        <filters>
            <field>User_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Selected_Call_Reason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <valueField>Customer_Type__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Case_Call_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Call_Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>1964</locationX>
        <locationY>305</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>DPA_Check_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>DPA_Check_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>DPA_Check_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>DPA_Check_Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>DPA_Pass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Current_time} Flow Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Call_Task_0</name>
        <label>Create New Call Task</label>
        <locationX>483</locationX>
        <locationY>397</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>DPA_Failed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>DPA_Check_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>DPA_Check_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>DPA_Check_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>DPA_Check_Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Current_time} Flow Call (DPA Fail)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Comment</name>
        <label>Create New Comment</label>
        <locationX>1778</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account_by_Mobile_Number</name>
        <label>Lookup Account by Mobile Number</label>
        <locationX>313</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Perform_DPA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AdminURLLink</assignToReference>
            <field>AdminURL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_DOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Expected_Usage</assignToReference>
            <field>Expected_Usage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_HouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Email</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MobilePhone</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Postcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Street1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>145</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account_by_Mobile_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varPassedAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSetCallReason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseClosedDate</assignToReference>
            <field>ClosedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseDesc</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AssignToComplaints</name>
        <label>Assign to Tech</label>
        <locationX>1578</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Create_New_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>AssignToTech</name>
        <label>Assign to Tech</label>
        <locationX>1589</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Create_New_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G20000002n34t</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseClosed</name>
        <label>UpdateCaseClosed</label>
        <locationX>1570</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Create_New_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOpen</name>
        <label>UpdateCaseOpen</label>
        <locationX>1524</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Collection_Information_from_Customer_Borrower</name>
        <label>Collection Information from Customer</label>
        <locationX>877</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Steps_for_Call</targetReference>
        </connector>
        <fields>
            <name>Call_Subject_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Exiting Case Details are shown below&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;A HREF=&quot;http://{!AdminURLLink}&quot; TARGET=&quot;_blank&quot;&gt;{!AdminURLLink}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case ID: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!varCaseNumber}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Opened Date: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!varCreatedDate}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Closed Date: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!varCaseClosedDate}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!varCaseStatus}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Subject:&lt;/B&gt; {!varCaseSubject}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Description: &lt;/B&gt;{!varCaseDesc}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddCaseNotes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>DPA_Failed</name>
        <label>DPA Failed</label>
        <locationX>476</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DPA_Failed_Text</name>
            <fieldText>I am sorry but we have been unable to verify your identity.  Once you have the relevant details please call us again and we will be able to process your query.

Thanks</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Escalate_to_Tech_Notes</name>
        <label>Escalate to Tech Notes</label>
        <locationX>1255</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tech_Summary</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please try and complete as many of the fields as you can as this will help us fix the issue&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Issue_First_time</name>
            <dataType>Date</dataType>
            <fieldText>Date of Issue (First time)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Any_other_key_dates</name>
            <fieldText>Any other key dates</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please add details of any key dates related to the issue</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Device_being_used</name>
            <dataType>String</dataType>
            <fieldText>Device being used</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please provide some details on the device such as iPad/PC/Phone</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Details_of_Error_Messages</name>
            <fieldText>Details of Error Messages</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Does the customer receive an error messages.  If so, what button/link did they press prior to receiving the message.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_actions_have_you_taken</name>
            <fieldText>What actions have you taken</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please add any details of steps taken</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1964</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Completed</name>
            <fieldText>You have finished the workflow, you may close this window.  

If you need to send an email please go back to the case screen and use the &apos;send an email functionality&apos; from there</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Next_Steps_for_Call</name>
        <label>Next Steps for Call</label>
        <locationX>831</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Tech_Support</targetReference>
        </connector>
        <fields>
            <name>AdminURL</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;A HREF=&quot;http://{!AdminURLLink}&quot; TARGET=&quot;_blank&quot;&gt;{!AdminURLLink}&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NS_Text</name>
            <fieldText>Please select one of the following options:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <choiceReferences>Re_Open</choiceReferences>
            <choiceReferences>Close_Case</choiceReferences>
            <choiceReferences>Add_Notes_but_keep_case_open</choiceReferences>
            <choiceReferences>Escalate_Tech</choiceReferences>
            <choiceReferences>Assign_to_Complaints</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Next_Steps_for_Call_0</name>
        <label>Please add details for case closure</label>
        <locationX>1059</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCommentNotes_0</targetReference>
        </connector>
        <fields>
            <name>CaseSubjectSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Summary&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Subject: &lt;/B&gt;{!Case_Subject}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Description: &lt;/B&gt;{!Case_Description}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_actions_taken</name>
            <defaultValue>
                <elementReference>AddCaseNotes</elementReference>
            </defaultValue>
            <fieldText>Notes (actions taken)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Perform_DPA</name>
        <label>Perform DPA</label>
        <locationX>324</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_DPA_Been_passed</targetReference>
        </connector>
        <fields>
            <name>Show_Details</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please perform DPA before proceeding with the call:&lt;/FONT&gt;&lt;br/&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account Name:&lt;B&gt; {!Var_AccountName}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Address: &lt;B&gt;{!Var_Email}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Date of Birth:&lt;B&gt; {!Var_DOB}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Address:&lt;B&gt; {!Var_HouseNumber} {!Var_Street1}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Postcode: &lt;B&gt;{!Var_Postcode}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the DPA questions that you have asked&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Check_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Address&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Date_of_Birth</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Date of Birth&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Email_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Address&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Full_Name</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Full Name&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Passed_DPA_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;Has the Customer Passed DPA?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Pass</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Yes&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Tech_Summary</name>
        <label>Tech Summary</label>
        <locationX>1385</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCommentNotes</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;First Issue: &lt;/B&gt;{!Date_of_Issue_First_time}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Other Key Dates:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Any_other_key_dates}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Details of Problem:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Details_of_Error_Messages}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Actions Taken so far:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!What_actions_have_you_taken}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Device Used:&lt;/B&gt; {!Device_being_used}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>call_current_time</startElementReference>
    <variables>
        <name>AdminURLLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Broker_DPA_Not_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CNC_New_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>CustomerConfirmation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MyTest_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Call_Task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Created_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRepaymentDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Passed_Mobile_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Script_Repayment_Read</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>Var_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Street1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseClosedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassedCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSetCallReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
