src/flows/Complaint-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Broker</name>
        <label>Assign Broker</label>
        <locationX>978</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_the_Broker_Associated_with_the_Loan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Institution</name>
        <label>Assign Institution</label>
        <locationX>753</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.InstitutionList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_the_Institution_associated_with_the_complaint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Broker_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution</name>
        <label>Assign Resolution</label>
        <locationX>1558</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Customer_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Date_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Resolved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Monetary_Compensation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monetary_Compensation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Customer_Happy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Satisfied</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Final_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Response</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Refer_to_FOS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refer_to_FOS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Date_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actions_Taken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escalate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBorrowerSubType</name>
        <label>AssignBorrowerSubType</label>
        <locationX>415</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_does_the_complaint_refer_to_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_complaint_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCollectionsSubType</name>
        <label>AssignCollectionsSubType</label>
        <locationX>398</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_the_Collections_Complaint_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_complaint_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignComplaintInformation</name>
        <label>AssignComplaintInformation</label>
        <locationX>47</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Date_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Complaint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Complaint_Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Additional_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Complaint_Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Loss_Inconvenience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loss_Inconvenience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Type_Control__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_which_department_the_Complaint_Refers_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Complaint_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEscalation</name>
        <label>AssignEscalation</label>
        <locationX>1742</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Escalated_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalatetoWho</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateComplaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInvestigation</name>
        <label>AssignInvestigation</label>
        <locationX>1337</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Cause_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Details_of_cause_and_subsequent_investigation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Actual_Loss_to_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Loss_to_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Cost_To_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_to_Zopa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Tech_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tech_Error</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Marketing_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ComplaintResolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLenderSubtype</name>
        <label>AssignLenderSubtype</label>
        <locationX>410</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_does_the_complaint_refer_toLender</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_complaint_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMonetaryLoss</name>
        <label>AssignMonetaryLoss</label>
        <locationX>601</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Monetary_Loss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monetary_Loss</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Type_Zopa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_towards_Zopa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Type_Misc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_Type_Misc2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Type_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_Related_to_a_Product2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.FOS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_Complaint_been_referred_to_FOS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsInstitutionClicked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUWSubtype</name>
        <label>AssignUWSubtype</label>
        <locationX>399</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.Complaint_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_the_Underwriting_Complaint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_complaint_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complaint_Variables</name>
        <label>Set Complaint Variables</label>
        <locationX>36</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>ComplaintObject.AccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseObject.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.CaseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseObject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplaintObject.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Complaint_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetvarpassedCaseID</name>
        <label>SetvarpassedCaseID</label>
        <locationX>33</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>VarPassedCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50020000012V4It</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCaseDetails</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access_to_funds</name>
        <choiceText>Access to funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accountdiscrepancies</name>
        <choiceText>Account discrepancies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account discrepancies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_general</name>
        <choiceText>Application (general)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application (general)</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR_Interest_change</name>
        <choiceText>APR/Interest change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR/Interest change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arrears</name>
        <choiceText>Arrears</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrears</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_debt</name>
        <choiceText>Bad debt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad debt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrower_Default</name>
        <choiceText>Borrower Default</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrowing_fee</name>
        <choiceText>Borrowing fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrowing fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancelled_in_Error</name>
        <choiceText>Cancelled in Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled in Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chloe_Roberts</name>
        <choiceText>Chloe Roberts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00520000005PZMX</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chris_Leader</name>
        <choiceText>Chris Leader</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00520000004zMJt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Christian_Burt</name>
        <choiceText>Christian Burt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00520000005QIkt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_file_update</name>
        <choiceText>Credit file update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit file update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Errors</name>
        <choiceText>Customer Errors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Errors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_application</name>
        <choiceText>Declined application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined application</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_in_error</name>
        <choiceText>Declined in error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined in error</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Debit</name>
        <choiceText>Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Debit_date</name>
        <choiceText>Direct Debit date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Debit date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>Early_Settlement</name>
        <choiceText>Early Settlement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Early Settlement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funding_lending_account</name>
        <choiceText>Funding lending account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funding lending account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kylie_Akers</name>
        <choiceText>Kylie Akers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00520000003WREY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_options</name>
        <choiceText>Lending options</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending options</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_products</name>
        <choiceText>Lending products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending products</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_book</name>
        <choiceText>Loan book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan book</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_sum_payment</name>
        <choiceText>Lump sum payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump sum payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marie_Moffatt</name>
        <choiceText>Marie Moffatt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>005200000063BxZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opeyemi_Akinnayajo</name>
        <choiceText>Opeyemi Akinnayo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00520000003x6EP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment_issues_Inbound</name>
        <choiceText>Payment issues - Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment issues - Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment_issues_Outbound</name>
        <choiceText>Payment issues - Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment issues - Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quick_Pay</name>
        <choiceText>Quick Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rebecca_Mack</name>
        <choiceText>Rebecca Mack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00520000004zMAd</stringValue>
        </value>
    </choices>
    <choices>
        <name>SIGMA</name>
        <choiceText>SIGMA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SIGMA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Speed_of_application_process</name>
        <choiceText>Speed of application process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Speed of application process</stringValue>
        </value>
    </choices>
    <choices>
        <name>Statement_discrepancies</name>
        <choiceText>Statement discrepancies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Statement discrepancies</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ComplaintResolved</name>
        <label>ComplaintResolved</label>
        <locationX>1546</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Escalate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_complaint_been_resolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResolutionDetails</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalate</name>
        <label>Escalate?</label>
        <locationX>1750</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>CreateComplaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DoIEscalate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_Escalate_the_Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Screen</targetReference>
            </connector>
            <label>DoIEscalate</label>
        </rules>
    </decisions>
    <decisions>
        <name>InvestigationSection</name>
        <label>InvestigationSection</label>
        <locationX>1357</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>ComplaintResolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Investigated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_an_investigation_into_the_complaint_been_started</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvestDetails</targetReference>
            </connector>
            <label>Investigated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Broker_Checked</name>
        <label>Is Broker Checked</label>
        <locationX>974</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Current_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BrokerChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_loan_Originated_from_a_Broker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Broker</targetReference>
            </connector>
            <label>BrokerChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInstitutionClicked</name>
        <label>IsInstitutionClicked</label>
        <locationX>760</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Is_Broker_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InstClicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_Loan_affected_lent_by_an_Institution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Institution</targetReference>
            </connector>
            <label>InstClicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Complaint_Type</name>
        <label>What Complaint Type</label>
        <locationX>57</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>CollectionsChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_which_department_the_Complaint_Refers_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_complaint_Detail_Borrower_0</targetReference>
            </connector>
            <label>Borrower</label>
        </rules>
        <rules>
            <name>Lender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_which_department_the_Complaint_Refers_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lender_Sub_Types</targetReference>
            </connector>
            <label>Lender</label>
        </rules>
        <rules>
            <name>Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_which_department_the_Complaint_Refers_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UWChoice</targetReference>
            </connector>
            <label>Underwriting</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ComplaintBroker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Broker__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplaintInst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InstitutionList__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplaintMisc</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Type_Misc__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplaintProd</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Type_Product__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplaintType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Type_Control__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplaintTypeZopa</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Type_Zopa__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Complaint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complaint</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateComplaint</name>
        <label>CreateComplaint</label>
        <locationX>1921</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>ComplaintObject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FastAccountLookup</name>
        <label>FastAccountLookup</label>
        <locationX>36</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Complaint_Details_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObject.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>AdminURL__c</queriedFields>
        <queriedFields>MemberID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetails</name>
        <label>GetCaseDetails</label>
        <locationX>34</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FastAccountLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPassedCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseObject.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseObject.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseObject.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseObject.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseObject.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseObject.Origin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseObject.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Collect_Complaint_Details_0</name>
        <label>Collect Complaint Details</label>
        <locationX>37</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Complaint_Variables</targetReference>
        </connector>
        <fields>
            <name>Welcome_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This is the complaint handler.  This flow will guide you through the process of logging a complaint.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please confirm that the person raising complaint is the regarding the case below:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Customer Name&lt;/B&gt;: &lt;FONT KERNING=&quot;1&quot;&gt;{!AccountObject.Name}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Created Date&lt;/B&gt;: {!CaseObject.CreatedDate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Number&lt;/B&gt;: {!CaseObject.CaseNumber}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Subject&lt;/B&gt;: {!CaseObject.Subject}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Description&lt;/B&gt;: {!CaseObject.Description}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Collect_Complaint_Information</name>
        <label>Collect Complaint Information</label>
        <locationX>37</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignComplaintInformation</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>Please complete the information below</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Complaint</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date of Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Complaint_Summary</name>
            <dataType>String</dataType>
            <fieldText>Primary Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secondary_Complaint_Summary</name>
            <dataType>String</dataType>
            <fieldText>Secondary Complaint Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Complaint_Detail</name>
            <fieldText>Complaint Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Loss_Inconvenience</name>
            <dataType>String</dataType>
            <fieldText>Loss &amp; Inconvenience</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>What loss or Inconvenience did the customer suffer</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_select_which_department_the_Complaint_Refers_to</name>
            <choiceReferences>ComplaintType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select which department the Complaint Refers to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CollectionsChoice</name>
        <label>CollectionsChoice</label>
        <locationX>228</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCollectionsSubType</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_Collections_Complaint_Reason</name>
            <choiceReferences>Arrears</choiceReferences>
            <choiceReferences>Direct_Debit_date</choiceReferences>
            <choiceReferences>SIGMA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Collections Complaint Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>1176</locationX>
        <locationY>702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InvestigationSection</targetReference>
        </connector>
        <fields>
            <name>StatusIns</name>
            <fieldText>What is the current status of the Complaint.  Please choose from the options below:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_an_investigation_into_the_complaint_been_started</name>
            <dataType>Boolean</dataType>
            <fieldText>Has an investigation into the complaint been started</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_complaint_been_resolved</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the complaint been resolved?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_need_to_Escalate_the_Complaint</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you need to Escalate the Complaint?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Escalation_Screen</name>
        <label>Escalation Screen</label>
        <locationX>1748</locationX>
        <locationY>512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignEscalation</targetReference>
        </connector>
        <fields>
            <name>EscIns</name>
            <fieldText>You have specified that the complaint needs to be escalated.  Please choose who to escalate the complaint to below (Do not select anyone if you don&apos;t need to escalate)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EscalatetoWho</name>
            <choiceReferences>Opeyemi_Akinnayajo</choiceReferences>
            <choiceReferences>Chris_Leader</choiceReferences>
            <choiceReferences>Rebecca_Mack</choiceReferences>
            <choiceReferences>Chloe_Roberts</choiceReferences>
            <choiceReferences>Christian_Burt</choiceReferences>
            <choiceReferences>Marie_Moffatt</choiceReferences>
            <choiceReferences>Kylie_Akers</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>2119</locationX>
        <locationY>712</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Recorded</name>
            <fieldText>Thank you,

Your complaint has been recorded and will appear at the bottom of the case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>InvestDetails</name>
        <label>InvestDetails</label>
        <locationX>1350</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignInvestigation</targetReference>
        </connector>
        <fields>
            <name>Investigation</name>
            <fieldText>Investigation Details</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_of_cause_and_subsequent_investigation</name>
            <fieldText>Details of cause and subsequent investigation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Actual_Loss_to_Customer</name>
            <dataType>Currency</dataType>
            <fieldText>Actual Loss to Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cost_to_Zopa</name>
            <dataType>Currency</dataType>
            <fieldText>Cost to Zopa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tech_Error</name>
            <dataType>Boolean</dataType>
            <fieldText>Tech Error</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Was the issue caused by a technical error</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Marketing_Error</name>
            <dataType>Boolean</dataType>
            <fieldText>Marketing Error</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Is this related to some Zopa marketing</helpText>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Lender_Sub_Types</name>
        <label>Lender Sub Types</label>
        <locationX>247</locationX>
        <locationY>732</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignLenderSubtype</targetReference>
        </connector>
        <fields>
            <name>What_does_the_complaint_refer_toLender</name>
            <choiceReferences>Accountdiscrepancies</choiceReferences>
            <choiceReferences>Access_to_funds</choiceReferences>
            <choiceReferences>Bad_debt</choiceReferences>
            <choiceReferences>Funding_lending_account</choiceReferences>
            <choiceReferences>Lending_options</choiceReferences>
            <choiceReferences>Lending_products</choiceReferences>
            <choiceReferences>Loan_book</choiceReferences>
            <choiceReferences>Customer_Errors</choiceReferences>
            <choiceReferences>Payment_issues_Inbound</choiceReferences>
            <choiceReferences>Payment_issues_Outbound</choiceReferences>
            <choiceReferences>Statement_discrepancies</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What does the complaint refer to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>More_complaint_Detail</name>
        <label>More complaint Detail</label>
        <locationX>614</locationX>
        <locationY>778</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignMonetaryLoss</targetReference>
        </connector>
        <fields>
            <name>Complaint_towards_Zopa</name>
            <choiceReferences>ComplaintTypeZopa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complaint towards Zopa</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Empty1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complaint_Type_Misc2</name>
            <choiceReferences>ComplaintMisc</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complaint Type Misc</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Empty2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complaint_Related_to_a_Product2</name>
            <choiceReferences>ComplaintProd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complaint Related to a Product?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Empty3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_Complaint_been_referred_to_FOS</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the Complaint been referred from FOS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_the_Loan_affected_lent_by_an_Institution</name>
            <dataType>Boolean</dataType>
            <fieldText>Is the Loan affected lent by an Institution</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please check in admin to see whether the loan has been lent by an institution</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_loan_Originated_from_a_Broker</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the loan Originated from a Broker</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check in the admin screens to see whether the loan was originated from a Broker</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Monetary_Loss</name>
            <dataType>Currency</dataType>
            <fieldText>Monetary Loss</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>More_complaint_Detail_Borrower_0</name>
        <label>More complaint Detail Borrower</label>
        <locationX>249</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignBorrowerSubType</targetReference>
        </connector>
        <fields>
            <name>What_does_the_complaint_refer_to_0</name>
            <choiceReferences>Application_general</choiceReferences>
            <choiceReferences>APR_Interest_change</choiceReferences>
            <choiceReferences>Borrowing_fee</choiceReferences>
            <choiceReferences>Cancellation</choiceReferences>
            <choiceReferences>Credit_file_update</choiceReferences>
            <choiceReferences>Declined_application</choiceReferences>
            <choiceReferences>Direct_Debit</choiceReferences>
            <choiceReferences>Early_Settlement</choiceReferences>
            <choiceReferences>Lump_sum_payment</choiceReferences>
            <choiceReferences>Quick_Pay</choiceReferences>
            <choiceReferences>Speed_of_application_process</choiceReferences>
            <choiceReferences>Customer_Errors</choiceReferences>
            <choiceReferences>Payment_issues_Inbound</choiceReferences>
            <choiceReferences>Payment_issues_Outbound</choiceReferences>
            <choiceReferences>Documents</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What does the complaint refer to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ResolutionDetails</name>
        <label>ResolutionDetails</label>
        <locationX>1550</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resolution</targetReference>
        </connector>
        <fields>
            <name>ResolutionDets</name>
            <fieldText>Resolution Details</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resolution</name>
            <fieldText>Resolution</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Actions_Taken</name>
            <fieldText>Actions Taken</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>What actions were taken as part of the investigation? ie, listened to call recording etc</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Outcome</name>
            <fieldText>Outcome</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>What was the outcome of the actions taken?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Comments</name>
            <fieldText>Customer Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Resolved</name>
            <dataType>Date</dataType>
            <fieldText>Date Resolved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Monetary_Compensation</name>
            <dataType>Currency</dataType>
            <fieldText>Monetary Compensation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Customer_Satisfied</name>
            <dataType>Boolean</dataType>
            <fieldText>Customer Satisfied</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Final_Response</name>
            <dataType>Boolean</dataType>
            <fieldText>Final Response</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Refer_to_FOS</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the Customer been advised they can refer their complaint to FOS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Broker</name>
        <label>Select Broker</label>
        <locationX>976</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Broker</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_Broker_Associated_with_the_Loan</name>
            <choiceReferences>ComplaintBroker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Broker Associated with the Loan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Institution</name>
        <label>Select Institution</label>
        <locationX>754</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Institution</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_Institution_associated_with_the_complaint</name>
            <choiceReferences>ComplaintInst</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Institution associated with the complaint</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>UWChoice</name>
        <label>UWChoice</label>
        <locationX>235</locationX>
        <locationY>845</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignUWSubtype</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_Underwriting_Complaint</name>
            <choiceReferences>Cancelled_in_Error</choiceReferences>
            <choiceReferences>Declined_in_error</choiceReferences>
            <choiceReferences>Documents</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Underwriting Complaint</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>GetCaseDetails</startElementReference>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ComplaintObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint__c</objectType>
    </variables>
    <variables>
        <name>NewComplaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint__c</objectType>
    </variables>
    <variables>
        <name>VarPassedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
