src/flows/Contact_IT_Support-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CaseStatus</name>
        <label>CaseStatusOpen</label>
        <locationX>725</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>NewCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaseStatus_0</name>
        <label>CaseStatusOpen</label>
        <locationX>937</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>NewCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaseStatus_1</name>
        <label>CaseStatusClose</label>
        <locationX>877</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>NewCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentDateTimeSet</name>
        <label>CurrentDateTimeSet</label>
        <locationX>47</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>CurrentDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connectivity</name>
        <choiceText>Connectivity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connectivity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Desktop_Laptop_Issue</name>
        <choiceText>Desktop/Laptop Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop/Laptop Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hardware</name>
        <choiceText>Hardware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hardware</stringValue>
        </value>
    </choices>
    <choices>
        <name>Joiner</name>
        <choiceText>Joiner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Joiner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leaver</name>
        <choiceText>Leaver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leaver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Log_and_Close_the_Case</name>
        <choiceText>Log and Close the Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close</stringValue>
        </value>
    </choices>
    <choices>
        <name>Log_Case_and_Assign_to_Someone_Else</name>
        <choiceText>Log Case and Assign to Someone Else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Someone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Log_Case_but_keep_Open</name>
        <choiceText>Log Case but keep Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permissions</name>
        <choiceText>Permissions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permissions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_Issue</name>
        <choiceText>Phone Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Software</name>
        <choiceText>Software</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPN</name>
        <choiceText>VPN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VPN</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Next</name>
        <label>What to do now</label>
        <locationX>659</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Log_and_Close_the_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseStatus_1</targetReference>
            </connector>
            <label>Close</label>
        </rules>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Log_Case_but_keep_Open</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseStatus</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WhichUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e20000001Pkbw</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e20000001Pklh</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e20000001Pkhu</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NewOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Contact IT Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact IT Support</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>1043</locationX>
        <locationY>324</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_Passed_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case_1</name>
        <label>Create New Case</label>
        <locationX>1100</locationX>
        <locationY>498</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_Passed_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>NewCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>1180</locationX>
        <locationY>91</locationY>
        <assignRecordIdToReference>NewTask</assignRecordIdToReference>
        <connector>
            <targetReference>Workflow_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call - {!CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>359</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Passed_ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Var_Contac_Type</assignToReference>
            <field>Contact_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Mobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Introduction</name>
        <label>Introduction</label>
        <locationX>440</locationX>
        <locationY>113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Steps</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please add the following information to record against the case:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary</name>
            <dataType>String</dataType>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Details</name>
            <fieldText>Call Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Reason</name>
            <choiceReferences>Connectivity</choiceReferences>
            <choiceReferences>Desktop_Laptop_Issue</choiceReferences>
            <choiceReferences>Hardware</choiceReferences>
            <choiceReferences>Joiner</choiceReferences>
            <choiceReferences>Leaver</choiceReferences>
            <choiceReferences>Permissions</choiceReferences>
            <choiceReferences>Phone_Issue</choiceReferences>
            <choiceReferences>Software</choiceReferences>
            <choiceReferences>VPN</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Next_Steps</name>
        <label>Next Steps</label>
        <locationX>563</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next</targetReference>
        </connector>
        <fields>
            <name>Next_stepIns</name>
            <fieldText>What are the next steps for the phone call?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Step2</name>
            <choiceReferences>Log_and_Close_the_Case</choiceReferences>
            <choiceReferences>Log_Case_but_keep_Open</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ReASsignment</name>
        <label>ReASsignment</label>
        <locationX>772</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CaseStatus_0</targetReference>
        </connector>
        <fields>
            <name>Who_are_you_reassigning_to</name>
            <choiceReferences>WhichUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who are you reassigning to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>359</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Introduction</targetReference>
        </connector>
        <fields>
            <name>NewCustOnly</name>
            <fieldText>This workflow is IT Support cases only.  If you are not in IT Support please do not use this flow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Workflow_Finished</name>
        <label>Workflow Finished</label>
        <locationX>1298</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndText</name>
            <fieldText>The workflow is now finished.  If you want to schedule a reminder please add a new Task under Open Activities at the bottom of the page</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>CurrentDateTimeSet</startElementReference>
    <variables>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Contac_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Passed_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
