src/flows/EOD_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>100</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>EOD.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EOD.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EOD.Monetary_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monetary_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EOD.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCasePassed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseEOD</name>
        <label>SetCaseEOD</label>
        <locationX>323</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>Case.EOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EOD.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCasePassed</name>
        <label>IsCasePassed?</label>
        <locationX>110</locationX>
        <locationY>19</locationY>
        <defaultConnector>
            <targetReference>getAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseIDPassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varpassedcaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCase</targetReference>
            </connector>
            <label>CaseIDPassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCasePassed_0</name>
        <label>IsCasePassed?</label>
        <locationX>104</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Create_EOD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseIDPassed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varpassedcaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseEOD</targetReference>
            </connector>
            <label>CaseIDPassed</label>
        </rules>
    </decisions>
    <interviewLabel>EOD Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EOD Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EOD</name>
        <label>Create EOD</label>
        <locationX>106</locationX>
        <locationY>625</locationY>
        <inputReference>EOD</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>103</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varpassedaccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>415</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varpassedcaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>EOD__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>564</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>Create_EOD</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Enter_Details</name>
        <label>Enter Details</label>
        <locationX>103</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Variables</targetReference>
        </connector>
        <fields>
            <name>ins</name>
            <fieldText>Please record the details for the &apos;Expression of Disatisfaction&apos;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Monetary_Value</name>
            <dataType>Currency</dataType>
            <fieldText>Monetary Value</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Was any compensation provided for the EOD</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <startElementReference>IsCasePassed</startElementReference>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>EOD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expression_of_Dissatisfaction__c</objectType>
    </variables>
    <variables>
        <name>varpassedaccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varpassedcaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
