src/flows/Marketing_Call-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CurrentDateTimeSet</name>
        <label>CurrentDateTimeSet</label>
        <locationX>25</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>CurrentDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EndTime</name>
        <label>EndTime</label>
        <locationX>602</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>EndCallTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Lender</stringValue>
        </value>
    </choices>
    <formulas>
        <name>Duration</name>
        <dataType>Number</dataType>
        <expression>({!EndCallTime}-{!CurrentDateTime})*100000</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>Marketing Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Call</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>944</locationX>
        <locationY>74</locationY>
        <assignRecordIdToReference>NewTask</assignRecordIdToReference>
        <connector>
            <targetReference>Workflow_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Marketing Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call - {!CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <stringValue>0032000001g3IrmAAE</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>785</locationX>
        <locationY>183</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PassedAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <stringValue>Marketing Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PersonContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Marketing Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Marketing Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <stringValue>Borrowing</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GetContactID</name>
        <label>GetContactID</label>
        <locationX>681</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PassedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonContactID</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>are_you_sure</name>
        <label>are you sure</label>
        <locationX>440</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EndTime</targetReference>
        </connector>
        <fields>
            <name>ins</name>
            <fieldText>If you want to log this call as a Marketing Call please click Next now.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>359</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>are_you_sure</targetReference>
        </connector>
        <fields>
            <name>NewCustOnly</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This workflow is for logging Calls from unknown/marketing callers.  The flow will record the duration of the call and allocate it to you.  &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nextsep</name>
            <fieldText>When the call is complete please click next {!PersonContactID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Workflow_Finished</name>
        <label>Workflow Finished</label>
        <locationX>903</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndText</name>
            <fieldText>The workflow is now finished and the call has been recorded.  You can close this window</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>CurrentDateTimeSet</startElementReference>
    <variables>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndCallTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PassedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Contac_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Passed_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
