src/flows/OperationalSupportFlow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>setAsCashAndPayments</name>
        <label>setAsCashAndPayments</label>
        <locationX>352</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0O000002h0Jq</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAsCustomerCare</name>
        <label>setAsCustomerCare</label>
        <locationX>818</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0O000002h0JW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAsCustomerSupport</name>
        <label>setAsCustomerSupport</label>
        <locationX>187</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0O000002h0Jb</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAsIsaAdmin</name>
        <label>setAsIsaAdmin</label>
        <locationX>522</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0O000002h0Jl</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValues</name>
        <label>setValues</label>
        <locationX>453</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>Case.Operational_Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_choose_the_operational_support_team_for_this_case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Operational_Support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Queue</name>
        <label>Which Queue</label>
        <locationX>426</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>setAsCashAndPayments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CustomerCare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_the_operational_support_team_for_this_case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAsCustomerCare</targetReference>
            </connector>
            <label>CustomerCare</label>
        </rules>
        <rules>
            <name>Customer_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_the_operational_support_team_for_this_case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAsCustomerSupport</targetReference>
            </connector>
            <label>Customer Support</label>
        </rules>
        <rules>
            <name>ISA_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_the_operational_support_team_for_this_case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISA Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAsIsaAdmin</targetReference>
            </connector>
            <label>ISA Admin</label>
        </rules>
    </decisions>
    <description>Swapped decision arrows so that support goes to support and care goes to care</description>
    <dynamicChoiceSets>
        <name>operationalSupportType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operational_Case_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>OperationalSupportFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OperationalSupportFlow v2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createComment</name>
        <label>createComment</label>
        <locationX>697</locationX>
        <locationY>728</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Please_add_any_additional_comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordLookups>
        <name>LookUpCase</name>
        <label>LookUpCase</label>
        <locationX>461</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>435</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>createComment</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>463</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setValues</targetReference>
        </connector>
        <fields>
            <name>Please_choose_the_operational_support_team_for_this_case</name>
            <choiceReferences>operationalSupportType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the operational support team for this case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_add_any_additional_comments</name>
            <fieldText>Please add any additional comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>905</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showThis</name>
            <fieldText>Your case has now been assigned to the relevant team within Operational Support</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>LookUpCase</startElementReference>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varPassedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
