src/flows/Telephone2-16.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>BRW_Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Has_DPA_Been_passed</name>
        <label>Has_DPA_Been_passed</label>
        <locationX>804</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DPA_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPA_Pass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Information_from_Customer</targetReference>
            </connector>
            <label>DPA_Success</label>
        </rules>
        <rules>
            <name>DPA_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPA_Pass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DPA_Failed</targetReference>
            </connector>
            <label>DPA_Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Repayment_Day_Change</name>
        <label>Is This Repayment Day Change?</label>
        <locationX>892</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Reason_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Repayment Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Present_Repayment_Script</targetReference>
            </connector>
            <label>Repayment Day Change</label>
        </rules>
        <rules>
            <name>No_Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Reason_Picklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Change Repayment Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Steps_for_Call</targetReference>
            </connector>
            <label>No Repayment Day Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_For_Call</name>
        <label>Next_Step_For_Call</label>
        <locationX>1211</locationX>
        <locationY>427</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_a_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Further_Investigation_Needed_Create_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case</targetReference>
            </connector>
            <label>Create a New Case</label>
        </rules>
        <rules>
            <name>Raise_A_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag_as_a_Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case_Complaint</targetReference>
            </connector>
            <label>Raise A Complaint</label>
        </rules>
        <rules>
            <name>Log_as_a_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Further_Action_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case_Closed</targetReference>
            </connector>
            <label>Log as a call</label>
        </rules>
        <rules>
            <name>Escalate_to_Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalate_to_Tech</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case_TechS</targetReference>
            </connector>
            <label>Escalate_to_Tech Support</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Case_Call_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Call_Reason</name>
        <dataType>String</dataType>
        <displayField>Call_Reason__c</displayField>
        <filters>
            <field>User_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Selected_Call_Reason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <valueField>Customer_Type__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>TelephoneAccountTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TelephoneAccountTrigger</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>1720</locationX>
        <locationY>437</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>DPA_Check_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>DPA_Check_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>DPA_Check_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>DPA_Check_Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>DPA_Pass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case</name>
        <label>Creates_New_Case</label>
        <locationX>1449</locationX>
        <locationY>656</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>Selected_Call_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Description_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Confirmation_Script_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Call_Subject_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case_Closed</name>
        <label>Creates_New_Case_Closed</label>
        <locationX>1444</locationX>
        <locationY>76</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>Selected_Call_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Description_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Time_Fix__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Confirmation_Script_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Call_Subject_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case_Complaint</name>
        <label>Creates_New_Case_Complaint</label>
        <locationX>1427</locationX>
        <locationY>438</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>Selected_Call_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Description_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G20000002nAta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Confirmation_Script_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Call_Subject_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case_TechS</name>
        <label>Creates_New_Case_TechS</label>
        <locationX>1438</locationX>
        <locationY>269</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>Selected_Call_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Description_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G20000002n34t</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Confirmation_Script_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Call_Subject_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account_by_Mobile_Number</name>
        <label>Lookup Account by Mobile Number</label>
        <locationX>459</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Perform_DPA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Var_DOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Expected_Usage</assignToReference>
            <field>Expected_Usage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_HouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Email</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Postcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Street1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Collection_Information_from_Customer</name>
        <label>Collection Information from Customer</label>
        <locationX>835</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_This_Repayment_Day_Change</targetReference>
        </connector>
        <fields>
            <name>Call_Subject</name>
            <fieldText>Please insert a subject and description for the call</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Subject_Entry</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Description_Entry</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Reason_Picklist</name>
            <choiceReferences>Case_Call_Reason_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>DPA_Failed</name>
        <label>DPA Failed</label>
        <locationX>1080</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DPA_Failed_Text</name>
            <fieldText>I am sorry but we have been unable to verify your identity.  Once you have the relevant details please call us again and we will be able to process your query.

Thanks</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1956</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Completed</name>
            <fieldText>You have finished the workflow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Next_Steps_for_Call</name>
        <label>Next Steps for Call</label>
        <locationX>1097</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step_For_Call</targetReference>
        </connector>
        <fields>
            <name>NS_Text</name>
            <fieldText>Please select one of the following options:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Further_Action_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>No Further Action Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Investigation_Needed_Create_Case</name>
            <dataType>Boolean</dataType>
            <fieldText>Further Investigation Needed (Create Case)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Escalate_to_Tech</name>
            <dataType>Boolean</dataType>
            <fieldText>Escalate to Tech</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flag_as_a_Complaint</name>
            <dataType>Boolean</dataType>
            <fieldText>Flag as a Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Perform_DPA</name>
        <label>Perform DPA</label>
        <locationX>616</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_DPA_Been_passed</targetReference>
        </connector>
        <fields>
            <name>Show_Details</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please perform DPA before proceeding with the call:&lt;/FONT&gt;&lt;br/&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account Name:&lt;B&gt; {!Var_AccountName}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Address: &lt;B&gt;{!Var_Email}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Date of Birth:&lt;B&gt; {!Var_DOB}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Address:&lt;B&gt; {!Var_HouseNumber} {!Var_Street1}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Postcode: &lt;B&gt;{!Var_Postcode}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the DPA questions that you have asked&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Check_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Address&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Date_of_Birth</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Date of Birth&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Email_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Address&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Full_Name</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Full Name&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Passed_DPA_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;Has the Customer Passed DPA?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Pass</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Yes&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Present_Repayment_Script</name>
        <label>Present_Repayment_Script</label>
        <locationX>1014</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Steps_for_Call</targetReference>
        </connector>
        <fields>
            <name>Repayment_Change_Script</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please read the following script to the customer:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Blah Blah Blah&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Script_Read</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Please confirm that you have read the script</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_Account_by_Mobile_Number</startElementReference>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CNC_New_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MyTest_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Call_Task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Created_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Passed_Mobile_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>Var_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Street1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
