src/flows/Telephone2-18.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>call_current_time</name>
        <label>call_current_time</label>
        <locationX>136</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>Current_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Account_by_Mobile_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Repayment_read_set</name>
        <label>Repayment_read_set</label>
        <locationX>1085</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>Script_Repayment_Read</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerConfirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSetCallReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Reason_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Description_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Subject_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Steps_for_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Call_reason_Borrower</name>
        <label>Set_Call_reason_Borrower</label>
        <locationX>688</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varSetCallReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Borrower_Radio_Button</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Description_Entry_Borrower</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Subject_Entry_Borrower</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Repayment_Day_Change</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Access_to_Funds_Rapid_returns</name>
        <choiceText>Access to Funds/Rapid returns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to Funds/Rapid returns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Discrepencies1</name>
        <choiceText>Account Discrepencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Discrepencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Hoc_Statement_Request1</name>
        <choiceText>Ad Hoc Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Hoc Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Quick_Pay</name>
        <choiceText>Add Quick Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Quick Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annual_Statement_Request</name>
        <choiceText>Annual Statement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Statement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_by_Phone</name>
        <choiceText>Application by Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application by Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Post_Decision</name>
        <choiceText>Application Status (Post-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Post-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Status_Pre_Decision</name>
        <choiceText>Application Status (Pre-Decision)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Status (Pre-Decision)</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR_Increase_Rate_Change</name>
        <choiceText>APR Increase/Rate Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR Increase/Rate Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_top_up</name>
        <choiceText>Auto-top up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-top up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrowing_Criteria</name>
        <choiceText>Borrowing Criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrowing Criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Np</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Broker_DPA_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>BRW_Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Details</name>
        <choiceText>Change Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Direct_Debit</name>
        <choiceText>Change Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Personal_Details</name>
        <choiceText>Change Personal Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Personal Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Repayment_Date</name>
        <choiceText>Change Repayment Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Repayment Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Borrowing</name>
        <choiceText>Borrowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>CNC_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collections_Call</name>
        <choiceText>Collections Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deceased_Customer</name>
        <choiceText>Deceased Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined_Application</name>
        <choiceText>Declined Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Mail_Marketing</name>
        <choiceText>Direct Mail Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Mail Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Address</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Date_Of_Birth</name>
        <choiceText>Date Of Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Date_Of_Birth</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Email_Address</name>
        <choiceText>Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Email_Address</elementReference>
        </value>
    </choices>
    <choices>
        <name>DPA_Full_Name</name>
        <choiceText>Full Name</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DPA_Full_Name</elementReference>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fast_Track</name>
        <choiceText>Fast Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funds_sent_without_Z_Reference</name>
        <choiceText>Funds sent without Z Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funds sent without Z Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>IFAs</name>
        <choiceText>IFAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IFAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISAs</name>
        <choiceText>ISAs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lending_Fee</name>
        <choiceText>Lending Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lending Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lump_Sum_Payment</name>
        <choiceText>Lump Sum Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lump Sum Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Borrower_Query</name>
        <choiceText>New Borrower Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Borrower Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Password_Reset1</name>
        <choiceText>Password Reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Password Reset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_off_loan_in_Full</name>
        <choiceText>Pay off loan in Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay off loan in Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_of_Return</name>
        <choiceText>Rate of Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate of Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Lending_Limit</name>
        <choiceText>Re-Lending Limit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Lending Limit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Settlement_Figure_Outstanding_Balance</name>
        <choiceText>Settlement Figure/Outstanding Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement Figure/Outstanding Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shorter_vs_Longer</name>
        <choiceText>Shorter vs Longer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shorter vs Longer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slow_lending_Query</name>
        <choiceText>Slow lending Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow lending Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>Top_up_Repeat_Borrower</name>
        <choiceText>Top-up/Repeat Borrower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Top-up/Repeat Borrower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transferring_to_spouse_family_member</name>
        <choiceText>Transferring to spouse/family member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferring to spouse/family member</stringValue>
        </value>
    </choices>
    <choices>
        <name>UW_call_back</name>
        <choiceText>UW call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UW call back</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Has_DPA_Been_passed</name>
        <label>Has_DPA_Been_passed</label>
        <locationX>687</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DPA_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPA_Pass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lender_Or_Borrower</targetReference>
            </connector>
            <label>DPA_Success</label>
        </rules>
        <rules>
            <name>DPA_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPA_Pass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Call_Task_0</targetReference>
            </connector>
            <label>DPA_Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DPA_Required</name>
        <label>Is DPA Required</label>
        <locationX>501</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DPA_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Broker_Performed_DPA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lender_Or_Borrower</targetReference>
            </connector>
            <label>DPA_Not_Required</label>
        </rules>
        <rules>
            <name>DPA_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Broker_Performed_DPA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Perform_DPA</targetReference>
            </connector>
            <label>DPA_Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Repayment_Day_Change</name>
        <label>Is This Repayment Day Change?</label>
        <locationX>863</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSetCallReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Repayment_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Present_Repayment_Script</targetReference>
            </connector>
            <label>Repayment Day Change</label>
        </rules>
        <rules>
            <name>No_Repayment_Day_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSetCallReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Change_Repayment_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repayment_read_set</targetReference>
            </connector>
            <label>No Repayment Day Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lender_Or_Borrower</name>
        <label>Lender Or Borrower</label>
        <locationX>504</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_A_Lender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Expected_Usage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Information_from_Customer</targetReference>
            </connector>
            <label>Is_A_Lender</label>
        </rules>
        <rules>
            <name>Is_A_Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Expected_Usage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Information_from_Customer_Borrower</targetReference>
            </connector>
            <label>Is_A_Borrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_For_Call</name>
        <label>Next_Step_For_Call</label>
        <locationX>1108</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_a_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Further_Investigation_Needed_Create_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case</targetReference>
            </connector>
            <label>Create a New Case</label>
        </rules>
        <rules>
            <name>Raise_A_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag_as_a_Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case_Complaint</targetReference>
            </connector>
            <label>Raise A Complaint</label>
        </rules>
        <rules>
            <name>Log_as_a_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Further_Action_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case_Closed</targetReference>
            </connector>
            <label>Log as a call</label>
        </rules>
        <rules>
            <name>Escalate_to_Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalate_to_Tech</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creates_New_Case_TechS</targetReference>
            </connector>
            <label>Escalate_to_Tech Support</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BRW_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Case_Call_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Call_Reason</name>
        <dataType>String</dataType>
        <displayField>Call_Reason__c</displayField>
        <filters>
            <field>User_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Selected_Call_Reason</assignToReference>
            <field>Call_Reason__c</field>
        </outputAssignments>
        <valueField>Customer_Type__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>TelephoneAccountTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TelephoneAccountTrigger</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>1964</locationX>
        <locationY>305</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Comment</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>DPA_Check_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>DPA_Check_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>DPA_Check_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>DPA_Check_Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Passed__c</field>
            <value>
                <elementReference>DPA_Pass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Current_time} Flow Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Call_Task_0</name>
        <label>Create New Call Task</label>
        <locationX>816</locationX>
        <locationY>15</locationY>
        <assignRecordIdToReference>New_Call_Task</assignRecordIdToReference>
        <connector>
            <targetReference>DPA_Failed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Address__c</field>
            <value>
                <elementReference>DPA_Check_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Date_of_Birth__c</field>
            <value>
                <elementReference>DPA_Check_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Email_Address__c</field>
            <value>
                <elementReference>DPA_Check_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPA_Full_Name__c</field>
            <value>
                <elementReference>DPA_Check_Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Current_time} Flow Call (DPA Fail)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Comment</name>
        <label>Create New Comment</label>
        <locationX>1928</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Get_New_Case_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Notes_actions_taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case</name>
        <label>Creates_New_Case</label>
        <locationX>1449</locationX>
        <locationY>656</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>varSetCallReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Confirmed_Day_Change__c</field>
            <value>
                <elementReference>CustomerConfirmation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Script_Repayment_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case_Closed</name>
        <label>Creates_New_Case_Closed</label>
        <locationX>1443</locationX>
        <locationY>76</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>varSetCallReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Confirmed_Day_Change__c</field>
            <value>
                <elementReference>CustomerConfirmation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Script_Repayment_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case_Complaint</name>
        <label>Creates_New_Case_Complaint</label>
        <locationX>1427</locationX>
        <locationY>438</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>varSetCallReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Confirmed_Day_Change__c</field>
            <value>
                <elementReference>CustomerConfirmation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G20000002nAta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Script_Repayment_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Creates_New_Case_TechS</name>
        <label>Creates_New_Case_TechS</label>
        <locationX>1438</locationX>
        <locationY>269</locationY>
        <assignRecordIdToReference>New_Created_Case</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason__c</field>
            <value>
                <elementReference>varSetCallReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Confirmed_Day_Change__c</field>
            <value>
                <elementReference>CustomerConfirmation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G20000002n34t</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repayment_Script_Read__c</field>
            <value>
                <elementReference>Script_Repayment_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Type__c</field>
            <value>
                <elementReference>Var_Expected_Usage</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Case_ID</name>
        <label>Get New Case ID</label>
        <locationX>1758</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Created_Case</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>New_Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_by_Mobile_Number</name>
        <label>Lookup Account by Mobile Number</label>
        <locationX>316</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassedAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AdminURLLink</assignToReference>
            <field>AdminURL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_DOB</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Expected_Usage</assignToReference>
            <field>Expected_Usage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_HouseNumber</assignToReference>
            <field>HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Email</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MobilePhone</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Postcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Street1</assignToReference>
            <field>Street1__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Call_Type</name>
        <label>Call_Type</label>
        <locationX>325</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_DPA_Required</targetReference>
        </connector>
        <fields>
            <name>Passed_By_Broker</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Has the customer been passed to you by a broker and they have already performed DPA?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Broker_Performed_DPA</name>
            <choiceReferences>Broker_DPA_Yes</choiceReferences>
            <choiceReferences>Broker_DPA_Np</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Broker Performed DPA?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Collection_Information_from_Customer</name>
        <label>Collection Information from Customer</label>
        <locationX>686</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Repayment_read_set</targetReference>
        </connector>
        <fields>
            <name>Call_Subject</name>
            <fieldText>Please insert a subject and description for the call</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Subject_Entry</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Description_Entry</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Reason_Radio</name>
            <choiceReferences>Access_to_Funds_Rapid_returns</choiceReferences>
            <choiceReferences>Account_Discrepencies1</choiceReferences>
            <choiceReferences>Ad_Hoc_Statement_Request1</choiceReferences>
            <choiceReferences>Annual_Statement_Request</choiceReferences>
            <choiceReferences>Auto_top_up</choiceReferences>
            <choiceReferences>Change_Account_Details</choiceReferences>
            <choiceReferences>Deceased_Customer</choiceReferences>
            <choiceReferences>Duplicate_Account</choiceReferences>
            <choiceReferences>Funds_sent_without_Z_Reference</choiceReferences>
            <choiceReferences>IFAs</choiceReferences>
            <choiceReferences>ISAs</choiceReferences>
            <choiceReferences>Lending_Fee</choiceReferences>
            <choiceReferences>Password_Reset1</choiceReferences>
            <choiceReferences>Rate_of_Return</choiceReferences>
            <choiceReferences>Re_Lending_Limit</choiceReferences>
            <choiceReferences>Shorter_vs_Longer</choiceReferences>
            <choiceReferences>Slow_lending_Query</choiceReferences>
            <choiceReferences>Transferring_to_spouse_family_member</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Collection_Information_from_Customer_Borrower</name>
        <label>Collection Information from Customer</label>
        <locationX>501</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Call_reason_Borrower</targetReference>
        </connector>
        <fields>
            <name>Call_Subject_0</name>
            <fieldText>Please insert a subject and description for the call</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Subject_Entry_Borrower</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Description_Entry_Borrower</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Borrower_Radio_Button</name>
            <choiceReferences>Add_Quick_Pay</choiceReferences>
            <choiceReferences>Application_by_Phone</choiceReferences>
            <choiceReferences>Application_Status_Post_Decision</choiceReferences>
            <choiceReferences>Application_Status_Pre_Decision</choiceReferences>
            <choiceReferences>APR_Increase_Rate_Change</choiceReferences>
            <choiceReferences>Borrowing_Criteria</choiceReferences>
            <choiceReferences>Cancellation</choiceReferences>
            <choiceReferences>Change_Direct_Debit</choiceReferences>
            <choiceReferences>Change_Personal_Details</choiceReferences>
            <choiceReferences>Change_Repayment_Date</choiceReferences>
            <choiceReferences>Collections_Call</choiceReferences>
            <choiceReferences>Declined_Application</choiceReferences>
            <choiceReferences>Direct_Mail_Marketing</choiceReferences>
            <choiceReferences>Documents</choiceReferences>
            <choiceReferences>Duplicate_Account</choiceReferences>
            <choiceReferences>Fast_Track</choiceReferences>
            <choiceReferences>Fees</choiceReferences>
            <choiceReferences>Lump_Sum_Payment</choiceReferences>
            <choiceReferences>New_Borrower_Query</choiceReferences>
            <choiceReferences>Password_Reset1</choiceReferences>
            <choiceReferences>Pay_off_loan_in_Full</choiceReferences>
            <choiceReferences>Settlement_Figure_Outstanding_Balance</choiceReferences>
            <choiceReferences>Top_up_Repeat_Borrower</choiceReferences>
            <choiceReferences>UW_call_back</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>DPA_Failed</name>
        <label>DPA Failed</label>
        <locationX>908</locationX>
        <locationY>104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DPA_Failed_Text</name>
            <fieldText>I am sorry but we have been unable to verify your identity.  Once you have the relevant details please call us again and we will be able to process your query.

Thanks</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1964</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Completed</name>
            <fieldText>You have finished the workflow, you may close this window.  

If you need to send an email please go back to the case screen and use the &apos;send an email functionality&apos; from there

A new case has been created with Reference: {!New_Case_Number}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Next_Steps_for_Call</name>
        <label>Next Steps for Call</label>
        <locationX>1103</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step_For_Call</targetReference>
        </connector>
        <fields>
            <name>AdminURL</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Admin URL: &lt;A HREF=&quot;http://{!AdminURLLink}&quot; TARGET=&quot;_blank&quot;&gt;{!AdminURLLink}&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_actions_taken</name>
            <fieldText>Notes (actions taken)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NS_Text</name>
            <fieldText>Please select one of the following options:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Further_Action_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>No Further Action Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Investigation_Needed_Create_Case</name>
            <dataType>Boolean</dataType>
            <fieldText>Further Investigation Needed (Create Case)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Escalate_to_Tech</name>
            <dataType>Boolean</dataType>
            <fieldText>Escalate to Tech</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flag_as_a_Complaint</name>
            <dataType>Boolean</dataType>
            <fieldText>Flag as a Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Perform_DPA</name>
        <label>Perform DPA</label>
        <locationX>501</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_DPA_Been_passed</targetReference>
        </connector>
        <fields>
            <name>Show_Details</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please perform DPA before proceeding with the call:&lt;/FONT&gt;&lt;br/&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account Name:&lt;B&gt; {!Var_AccountName}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Address: &lt;B&gt;{!Var_Email}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Date of Birth:&lt;B&gt; {!Var_DOB}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Address:&lt;B&gt; {!Var_HouseNumber} {!Var_Street1}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Postcode: &lt;B&gt;{!Var_Postcode}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the DPA questions that you have asked&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Check_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Address&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Date_of_Birth</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Date of Birth&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Email_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Address&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DPA_Check_Full_Name</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Full Name&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Passed_DPA_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;Has the Customer Passed DPA?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPA_Pass</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Yes&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Present_Repayment_Script</name>
        <label>Present_Repayment_Script</label>
        <locationX>927</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Steps_for_Call</targetReference>
        </connector>
        <fields>
            <name>Repayment_Change_Script</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change repayment day script&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This  &lt;/B&gt;&lt;B&gt;&lt;U&gt;must&lt;/U&gt;&lt;/B&gt;&lt;B&gt; be read to the customer over the telephone before you change a repayment date:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;quot;I confirm that you want to move your monthly repayment date from xth of each month to the yth of each month.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Zopa will continue to use your existing Direct Debit instruction to honour your repayments.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;As a result, your next monthly repayment will be due on dd/mm/yyyy, assuming you make all your repayments.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In order for these changes to become effective immediately, could you please confirm whether you are happy to proceed with this change?&amp;quot;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Script_Read</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Please confirm that you have read the script</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Agreed_to_change</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Agreed to change</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>call_current_time</startElementReference>
    <variables>
        <name>AdminURLLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CNC_New_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>CustomerConfirmation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MyTest_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Call_Task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Created_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Passed_Mobile_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Script_Repayment_Read</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Call_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechSupportObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>Var_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Expected_Usage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Street1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetCallReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
