src/flows/Unknown_Caller-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetAccountID</name>
        <label>SetAccountID</label>
        <locationX>791</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0012000001YKwZB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Marketing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAccountID_0</name>
        <label>SetAccountID</label>
        <locationX>753</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0012000001YL1cZ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Marketing</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Mailing_List_Call</name>
        <choiceText>Mailing List Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mailing List Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing_Call</name>
        <choiceText>Marketing Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Potential_Customer</name>
        <choiceText>Potential Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Customer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>What_Call_Type</name>
        <label>What Call Type</label>
        <locationX>513</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_call_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Marketing_Call</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountID</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Mailing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_call_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mailing_List_Call</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewMailingCall</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Potential_Customercs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_call_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Potential_Customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountID_0</targetReference>
            </connector>
            <label>Potential Customer</label>
        </rules>
    </decisions>
    <interviewLabel>Unknown Caller {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unknown Caller</label>
    <processType>Flow</processType>
    <screens>
        <name>Unknown_Caller_Start</name>
        <label>Unknown Caller Start</label>
        <locationX>279</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Call_Type</targetReference>
        </connector>
        <fields>
            <name>ins</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This workflow is designed to log calls from callers that are not customers yet.  This includes Marketing Call, Mailing List Calls and callers who do not provide details,  Please select from the following&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_call_is_this</name>
            <choiceReferences>Potential_Customer</choiceReferences>
            <choiceReferences>Marketing_Call</choiceReferences>
            <choiceReferences>Mailing_List_Call</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of call is this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Unknown_Caller_Start</startElementReference>
    <subflows>
        <name>New_Marketing</name>
        <label>New Marketing</label>
        <locationX>1019</locationX>
        <locationY>212</locationY>
        <flowName>Marketing_Call</flowName>
        <inputAssignments>
            <name>PassedAccountID</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NewMailingCall</name>
        <label>NewMailingCall</label>
        <locationX>506</locationX>
        <locationY>308</locationY>
        <flowName>Mailing_List_Call</flowName>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
